### Oitavas Sulamericana

In [376]:
import cartolafc
import pandas as pd
from difflib import get_close_matches
import json

pd.set_option('display.max_columns', 50)            # permite a visualizaﾃｧﾃ｣o de 50 colunas do dataframe
pd.options.display.float_format = '{:.2f}'.format   # pandas: para todos os nﾃｺmeros aparecerem com duas casas decimais

# Cria uma instﾃ｢ncia da API
api = cartolafc.Api(attempts=5)

### Dicionﾃ｡rio com os IDs e Nomes dos times.

In [377]:
try:
    nomes_por_id
except NameError:
    nomes_por_id = {}
# Dicionﾃ｡rio com ID -> Nome do time (gerado anteriormente)
nomes_por_id = {
#    4229593: 'SUPER VASCﾃグ F.C',
#    186283: 'FBC Colorado',
#    18421230: 'Gig@ntte',
#    36359: 'KillerColorado',
#    20696550: 'Dom Camillo68',
#    49960687: 'Noah A 10',
#    13951133: 'KING LEONN',
#    479510: 'TEAM LOPES 99',
#    44810918: 'lsauer fc',
#    29228373: 'seralex',
#    25751748: 'MauHumor F.C.',
#    14124559: 'Paulo Virgili FC',
#    212042: 'Tatols Beants F.C',
#    3246608: 'Real SCI',
#    117598: 'A Lenda Super Vasco F.c',
#    25311459: 'FC Los Castilho'
}
# Aviso quando ainda nﾃ｣o temos os participantes
if not nomes_por_id:
    print("泄 Sul-Americana ainda nﾃ｣o comeﾃｧou (inﾃｭcio na Rodada 13).")
    COMPETICAO_INICIOU = False
else:
    COMPETICAO_INICIOU = True

泄 Sul-Americana ainda nﾃ｣o comeﾃｧou (inﾃｭcio na Rodada 13).

In [378]:
if not COMPETICAO_INICIOU:
    print("泄 Aguardando definiﾃｧﾃ｣o dos participantes. Sem dados para montar confrontos.")
else:
    # Lista com todos os dados que vocﾃｪ passou
    dados_torneio = [
        # # Jogo 1 (JG1)
        # ("Jogo 1 (JG1)", 4229593),
        # ("Jogo 1 (JG1)", 25311459),   
    
        # # Jogo 2 (JG2)
        # ("Jogo 2 (JG2)", 186283),
        # ("Jogo 2 (JG2)", 117598),
    
        # # Jogo 3 (JG3)                        
        # ("Jogo 3 (JG3)", 18421230),
        # ("Jogo 3 (JG3)", 3246608),
    
        # # Jogo 4 (JG4)
        # ("Jogo 4 (JG4)", 36359),
        # ("Jogo 4 (JG4)", 212042),
    
        # # Jogo 5 (JG5)
        # ("Jogo 5 (JG5)", 20696550),
        # ("Jogo 5 (JG5)", 14124559),
    
        # # Jogo 6 (JG6)
        # ("Jogo 6 (JG6)", 49960687),
        # ("Jogo 6 (JG6)", 25751748),
    
        # # Jogo 7 (JG7)
        # ("Jogo 7 (JG7)", 13951133),
        # ("Jogo 7 (JG7)", 29228373),
    
        # # Jogo 8 (JG8)
        # ("Jogo 8 (JG8)", 479510),
        # ("Jogo 8 (JG8)", 44810918)    
    ]
    
    # Criar DataFrame base
    df_torneio = pd.DataFrame(dados_torneio, columns=["Jogo", "ID do Time"])
    
    # Adicionar Nome do Time usando o dicionﾃ｡rio
    df_torneio["Nome do Time"] = df_torneio["ID do Time"].map(nomes_por_id)
    
    # Adicionar ID do Jogo
    df_torneio["ID do Jogo"] = df_torneio.groupby("Jogo").cumcount() + 1
    df_torneio["ID do Jogo"] = df_torneio["ID do Jogo"].astype(str) + "_" + df_torneio["Jogo"].str[-2]
    
    
    # Reorganizar colunas
    df_torneio = df_torneio[["Jogo", "ID do Time", "Nome do Time", "ID do Jogo"]]
    
    df_sula_jogo_1 = df_torneio[df_torneio["Jogo"] == "Jogo 1 (JG1)"]
    df_sula_jogo_2 = df_torneio[df_torneio["Jogo"] == "Jogo 2 (JG2)"]
    df_sula_jogo_3 = df_torneio[df_torneio["Jogo"] == "Jogo 3 (JG3)"]
    df_sula_jogo_4 = df_torneio[df_torneio["Jogo"] == "Jogo 4 (JG4)"]
    df_sula_jogo_5 = df_torneio[df_torneio["Jogo"] == "Jogo 5 (JG5)"]
    df_sula_jogo_6 = df_torneio[df_torneio["Jogo"] == "Jogo 6 (JG6)"]
    df_sula_jogo_7 = df_torneio[df_torneio["Jogo"] == "Jogo 7 (JG7)"]
    df_sula_jogo_8 = df_torneio[df_torneio["Jogo"] == "Jogo 8 (JG8)"]
    
    # Lista de jogos
    jogos = {
        "Jogo 1 (JG1)": df_sula_jogo_1,
        "Jogo 2 (JG2)": df_sula_jogo_2,
        "Jogo 3 (JG3)": df_sula_jogo_3,
        "Jogo 4 (JG4)": df_sula_jogo_4,
        "Jogo 5 (JG5)": df_sula_jogo_5,
        "Jogo 6 (JG6)": df_sula_jogo_6,
        "Jogo 7 (JG7)": df_sula_jogo_7,
        "Jogo 8 (JG8)": df_sula_jogo_8
    }
    
    display(df_sula_jogo_2)

泄 Aguardando definiﾃｧﾃ｣o dos participantes. Sem dados para montar confrontos.

### Jogos das Oitavas de Final da Sulamericana

In [379]:
# Rodada 13 - Fase 1 Sulamericana (Equivalente a 13ﾂｺ Rodada do Campeonato Brasileiro) 
confrontos_13a_rodada = [
    # Jogo 1 (JG1)
    ("Jogo 1 (JG1)", "1_1", "2_1"),

    # Jogo 2 (JG2)
    ("Jogo 2 (JG2)", "1_2", "2_2"),

    # Jogo 3 (JG3)
    ("Jogo 3 (JG3)", "1_3", "2_3"),

    # Jogo 4 (JG4)
    ("Jogo 4 (JG4)", "1_4", "2_4"),

    # Jogo 5 (JG5)
    ("Jogo 5 (JG5)", "1_5", "2_5"),

    # Jogo 6 (JG6)
    ("Jogo 6 (JG6)", "1_6", "2_6"),

    # Jogo 7 (JG7)
    ("Jogo 7 (JG7)", "1_7", "2_7"),

    # Jogo 8 (JG8)
    ("Jogo 8 (JG8)", "1_8", "2_8")    
]

# Rodada 14 - Fase 1 Sulamericana (Equivalente a 14ﾂｺ Rodada do Campeonato Brasileiro) 
confrontos_14a_rodada = [
    # Jogo 1 (JG1)
    ("Jogo 1 (JG1)", "2_1", "1_1"),

    # Jogo 2 (JG2)
    ("Jogo 2 (JG2)", "2_2", "1_2"),

    # Jogo 3 (JG3)
    ("Jogo 3 (JG3)", "2_3", "1_3"),

    # Jogo 4 (JG4)
    ("Jogo 4 (JG4)", "2_4", "1_4"),

    # Jogo 5 (JG5)
    ("Jogo 5 (JG5)", "2_5", "1_5"),

    # Jogo 6 (JG6)
    ("Jogo 6 (JG6)", "2_6", "1_6"),

    # Jogo 7 (JG7)
    ("Jogo 7 (JG7)", "2_7", "1_7"),

    # Jogo 8 (JG8)
    ("Jogo 8 (JG8)", "2_8", "1_8")    
]

In [380]:
# Transformar em DataFrame
df_confrontos = pd.DataFrame(confrontos_13a_rodada, columns=["Jogo", "Mandante_ID", "Visitante_ID"])

# Junta com df_torneio para buscar dados dos mandantes
df_mandantes = df_torneio.rename(columns={
    "ID do Jogo": "Mandante_ID",
    "Nome do Time": "Mandante_Nome",
    "ID do Time": "Mandante_ID_Time"
})[["Jogo", "Mandante_ID", "Mandante_Nome", "Mandante_ID_Time"]]

# Junta com df_torneio para buscar dados dos visitantes
df_visitantes = df_torneio.rename(columns={
    "ID do Jogo": "Visitante_ID",
    "Nome do Time": "Visitante_Nome",
    "ID do Time": "Visitante_ID_Time"    
})[["Jogo", "Visitante_ID", "Visitante_Nome", "Visitante_ID_Time"]]

display(df_confrontos)

           Jogo Mandante_ID Visitante_ID
0  Jogo 1 (JG1)         1_1          2_1
1  Jogo 2 (JG2)         1_2          2_2
2  Jogo 3 (JG3)         1_3          2_3
3  Jogo 4 (JG4)         1_4          2_4
4  Jogo 5 (JG5)         1_5          2_5
5  Jogo 6 (JG6)         1_6          2_6
6  Jogo 7 (JG7)         1_7          2_7
7  Jogo 8 (JG8)         1_8          2_8

In [381]:
# Transformar em DataFrame
df_confrontos = pd.DataFrame(confrontos_13a_rodada, columns=["Jogo", "Mandante_ID", "Visitante_ID"])
df_confrontos["Rodada"] = 13  
df_rodada_13 = df_confrontos.merge(df_mandantes, on=["Jogo", "Mandante_ID"])
df_rodada_13 = df_rodada_13.merge(df_visitantes, on=["Jogo", "Visitante_ID"])


# Transformar em DataFrame
df_confrontos_14 = pd.DataFrame(confrontos_14a_rodada, columns=["Jogo", "Mandante_ID", "Visitante_ID"])
df_confrontos_14["Rodada"] = 14
df_rodada_14 = df_confrontos_14.merge(df_mandantes, on=["Jogo", "Mandante_ID"])
df_rodada_14 = df_rodada_14.merge(df_visitantes, on=["Jogo", "Visitante_ID"])

display(df_rodada_13)

,Jogo,Mandante_ID,Visitante_ID,Rodada,Mandante_Nome,Mandante_ID_Time,Visitante_Nome,Visitante_ID_Time
0,Jogo 1 (JG1),1_1,2_1,13,SUPER VASCﾃグ F.C,4229593,FC Los Castilho,25311459
1,Jogo 2 (JG2),1_2,2_2,13,FBC Colorado,186283,A Lenda Super Vasco F.c,117598
2,Jogo 3 (JG3),1_3,2_3,13,Gig@ntte,18421230,Real SCI,3246608
3,Jogo 4 (JG4),1_4,2_4,13,KillerColorado,36359,Tatols Beants F.C,212042
4,Jogo 5 (JG5),1_5,2_5,13,Dom Camillo68,20696550,Paulo Virgili FC,14124559
5,Jogo 6 (JG6),1_6,2_6,13,Noah A 10,49960687,MauHumor F.C.,25751748
6,Jogo 7 (JG7),1_7,2_7,13,KING LEONN,13951133,seralex,29228373
7,Jogo 8 (JG8),1_8,2_8,13,TEAM LOPES 99,479510,lsauer fc,44810918

In [382]:
df_rodadas = pd.concat([
    df_rodada_13,
    df_rodada_14,
], ignore_index=True)

# Ajustar a numeraﾃｧﾃ｣o da rodada para refletir as rodadas do Cartola (Rodada 13 atﾃｩ 14)
df_rodadas["Rodada"] = df_rodadas["Rodada"]  # Ex: 1 -> 13, 2 -> 14

df_rodadas.to_excel("1_confrontos_oitavas_sula.xlsx", index=False)

# Exibir os confrontos da fase 1
display(df_rodadas.head(20))

,Jogo,Mandante_ID,Visitante_ID,Rodada,Mandante_Nome,Mandante_ID_Time,Visitante_Nome,Visitante_ID_Time
0,Jogo 1 (JG1),1_1,2_1,13,SUPER VASCﾃグ F.C,4229593,FC Los Castilho,25311459
1,Jogo 2 (JG2),1_2,2_2,13,FBC Colorado,186283,A Lenda Super Vasco F.c,117598
2,Jogo 3 (JG3),1_3,2_3,13,Gig@ntte,18421230,Real SCI,3246608
3,Jogo 4 (JG4),1_4,2_4,13,KillerColorado,36359,Tatols Beants F.C,212042
4,Jogo 5 (JG5),1_5,2_5,13,Dom Camillo68,20696550,Paulo Virgili FC,14124559
5,Jogo 6 (JG6),1_6,2_6,13,Noah A 10,49960687,MauHumor F.C.,25751748
6,Jogo 7 (JG7),1_7,2_7,13,KING LEONN,13951133,seralex,29228373
7,Jogo 8 (JG8),1_8,2_8,13,TEAM LOPES 99,479510,lsauer fc,44810918
8,Jogo 1 (JG1),2_1,1_1,14,FC Los Castilho,25311459,SUPER VASCﾃグ F.C,4229593
9,Jogo 2 (JG2),2_2,1_2,14,A Lenda Super Vasco F.c,117598,FBC Colorado,186283
10,Jogo 3 (JG3),2_3,1_3,14,Real SCI,3246608,Gig@ntte,18421230
11,Jogo 4 (JG4),2_4,1_4,14,Tatols Beants F.C,212042,KillerColorado,36359
12,Jogo 5 (JG5),2_5,1_5,14,Paulo Virgili FC,14124559,Dom Camillo68,20696550
13,Jogo 6 (JG6),2_6,1_6,14,MauHumor F.C.,25751748,Noah A 10,49960687
14,Jogo 7 (JG7),2_7,1_7,14,seralex,29228373,KING LEONN,13951133
15,Jogo 8 (JG8),2_8,1_8,14,lsauer fc,44810918,TEAM LOPES 99,479510

In [383]:
# Criar lista de dicionﾃ｡rios no formato desejado
confrontos_js_oitavas_sula = []

for _, row in df_rodadas.iterrows():
    confronto = {
        "jogo": row["Jogo"],
        "rodada": int(row["Rodada"]),
        "mandante": {
            "id": int(row["Mandante_ID_Time"]),
            "nome": row["Mandante_Nome"]
        },
        "visitante": {
            "id": int(row["Visitante_ID_Time"]),
            "nome": row["Visitante_Nome"]
        }
    }
    confrontos_js_oitavas_sula.append(confronto)

# Converter para JSON formatado
json_str = json.dumps(confrontos_js_oitavas_sula, indent=2, ensure_ascii=False)

# Salvar como arquivo JS com uma variﾃ｡vel global
with open("1_confrontos_oitavas_sula.js", "w", encoding="utf-8") as f:
    f.write("const confrontos_oitavas_sula = ")
    f.write(json_str)
    f.write(";")

In [384]:
def exibir_confrontos(df_rodadas, rodada=None, jogo=None):
    """
    Filtra e exibe os confrontos por rodada e/ou grupo.

    Parﾃ｢metros:
    - df_rodadas: DataFrame com todos os confrontos
    - rodada: nﾃｺmero da rodada (int ou None para todas)
    - grupo: nome do grupo (str ou None para todos)
    
    Retorna:
    - DataFrame filtrado com as colunas relevantes
    """    
    colunas = ["Rodada", "Jogo", "Mandante_ID_Time", "Mandante_Nome", "Visitante_ID_Time", "Visitante_Nome"]
    df_filtrado = df_rodadas.copy()

    df_filtrado["Rodada"] = df_filtrado["Rodada"].astype(str) + "ﾂｪ Rodada"    
    if rodada is not None:
        df_filtrado = df_filtrado[df_filtrado["Rodada"] == rodada]

    if jogo is not None:
        df_filtrado = df_filtrado[df_filtrado["Jogo"] == jogo]

    return df_filtrado[colunas].sort_values(by=["Jogo", "Rodada"])

In [385]:
jogo = 8

# Exibir todos os confrontos do Grupo A
display(exibir_confrontos(df_rodadas, jogo= f"Jogo {jogo} (JG{jogo})").head())

,Rodada,Jogo,Mandante_ID_Time,Mandante_Nome,Visitante_ID_Time,Visitante_Nome
7,13ﾂｪ Rodada,Jogo 8 (JG8),479510,TEAM LOPES 99,44810918,lsauer fc
15,14ﾂｪ Rodada,Jogo 8 (JG8),44810918,lsauer fc,479510,TEAM LOPES 99

In [386]:
# def campeonato_comecou(api, ids_times):
#     """Verifica se o campeonato jﾃθ津窶凖窶堙つ｡ comeﾃθ津窶凖窶堙つｧou observando a pontuaﾃθ津窶凖窶堙つｧﾃθ津窶凖窶堙つ｣o na 1ﾃθ津｢竄ｬﾅ｡ﾃ窶? rodada."""
#     for time_id in ids_times.values():
#         try:
#             pontuacao = api.time(time_id=time_id, rodada=32).ultima_pontuacao
#             if pontuacao is not None:
#                 return True
#         except cartolafc.errors.CartolaFCError:
#             continue
#     return False

# def obter_pontuacao_por_rodada(api, time_id, rodada_atual):
#     """Obtﾃθ津窶凖窶?m a pontuaﾃθ津窶凖窶堙つｧﾃθ津窶凖窶堙つ｣o do time em cada rodada atﾃθ津窶凖窶? a rodada atual."""
#     pontuacoes = {}
#     for rodada in range(13, rodada_atual):
#         try:
#             time_rodada = api.time(time_id=time_id, rodada=rodada)
#             pontuacoes[rodada] = time_rodada.ultima_pontuacao
#         except cartolafc.errors.CartolaFCError as e:
#             print(f"Erro ao acessar pontuaﾃθ津窶凖窶堙つｧﾃθ津窶凖窶堙つ｣o da rodada {rodada} para o time {time_id}: {e}")
#             pontuacoes[rodada] = None
#     return pontuacoes


# def gerar_df_pontuacoes(api, ids_times):
#     rodada_atual = api.mercado().rodada_atual
#     total_rodadas = 2

#     if not campeonato_comecou(api, ids_times):
#         print("ﾃθ?ﾃ窶ｦﾃつｸﾃδ｢ﾃ｢窶堋ｬﾃ窶愿窶ｦﾃ｢竄ｬ邃｢ O campeonato ainda nﾃθ津窶凖窶堙つ｣o comeﾃθ津窶凖窶堙つｧou. Criando estrutura com placeholders.")
#         df = pd.DataFrame(index=ids_times.keys(), columns=[f'Rodada {i}' for i in range(13, total_rodadas + 1)])
#         df[:] = 0
#     else:
#         df = pd.DataFrame()
#         for nome, time_id in ids_times.items():
#             pontuacoes = obter_pontuacao_por_rodada(api, time_id, rodada_atual)
#             df[nome] = pd.Series(pontuacoes)
#         df = df.transpose()
#         df.columns = [f'Rodada {i}' for i in range(13, rodada_atual)]
#         df.loc['Lider_Rodada'] = df.idxmax()
    
#     return df

In [387]:
def campeonato_comecou(api, ids_times):
    """Verifica se o campeonato jﾃ｡ comeﾃｧou observando a pontuaﾃｧﾃ｣o na 1ﾂｪ rodada."""
    for time_id in ids_times.values():
        try:
            pontuacao = api.time(time_id=time_id, rodada=32).ultima_pontuacao
            if pontuacao is not None:
                return True
        except Exception:
            continue
    return False


def obter_pontuacao_por_rodada(api, time_id, rodada_atual):
    """Obtﾃｩm a pontuaﾃｧﾃ｣o do time em cada rodada atﾃｩ a rodada atual."""
    pontuacoes = {}
    for rodada in range(13, rodada_atual):
        try:
            time_rodada = api.time(time_id=time_id, rodada=rodada)
            pontuacoes[rodada] = time_rodada.ultima_pontuacao
        except Exception as e:
            print(f"Erro ao acessar pontuaﾃｧﾃ｣o da rodada {rodada} para o time {time_id}: {e}")
            pontuacoes[rodada] = None
    return pontuacoes


def gerar_df_pontuacoes(api, ids_times):
    """Gera DataFrame de pontuaﾃｧﾃｵes com fallback seguro caso o campeonato ainda nﾃ｣o tenha comeﾃｧado."""
    rodada_atual = api.mercado().rodada_atual
    total_rodadas = 2  # quartas = rodadas 32 e 33

    # ﾂｰﾃ窶ｦﾃつｸﾃ窶ｦﾃつｸﾃ窶堙つ｡ Caso o campeonato ainda nﾃ｣o tenha comeﾃｧado:
    if not campeonato_comecou(api, ids_times):
        print("O campeonato ainda nﾃ｣o comeﾃｧou. Criando estrutura com placeholders.")
        colunas = [f"Rodada {i}" for i in range(13, 13 + total_rodadas)]
        df = pd.DataFrame(0, index=ids_times.keys(), columns=colunas)
        df.loc["Lider_Rodada"] = None
        return df

    # ﾂｰﾃ窶ｦﾃつｸﾃ窶ｦﾃつｸﾃ窶堙つ｢ Campeonato comeﾃｧou: buscar pontuaﾃｧﾃｵes reais
    df = pd.DataFrame()
    for nome, time_id in ids_times.items():
        pontuacoes = obter_pontuacao_por_rodada(api, time_id, rodada_atual)
        if pontuacoes:  # evita adicionar colunas vazias
            df[nome] = pd.Series(pontuacoes)

    if df.empty or df.shape[1] == 0:
        print("Nenhuma pontuaﾃｧﾃ｣o disponﾃｭvel ainda. Retornando placeholders.")
        colunas = [f"Rodada {i}" for i in range(13, 13 + total_rodadas)]
        df = pd.DataFrame(0, index=ids_times.keys(), columns=colunas)
        df.loc["Lider_Rodada"] = None
        return df

    # Ajuste final de formato
    df = df.transpose()
    df.columns = [f"Rodada {i}" for i in range(13, rodada_atual)]

    # Sﾃｳ calcula lﾃｭder se houver colunas numﾃｩricas vﾃ｡lidas
    if df.shape[1] > 0:
        df.loc["Lider_Rodada"] = df.idxmax()
    else:
        df.loc["Lider_Rodada"] = None

    return df

In [388]:
if not COMPETICAO_INICIOU:
    print("Competiﾃｧﾃ｣o ainda nﾃ｣o comeﾃｧou. Pulando geraﾃｧﾃ｣o de pontuaﾃｧﾃｵes.")
    df_pontuacoes = pd.DataFrame()
else:
    ids_times = {v: k for k, v in nomes_por_id.items()}
    
    df_pontuacoes = gerar_df_pontuacoes(api, ids_times)
    display(df_pontuacoes.T)

Competiﾃｧﾃ｣o ainda nﾃ｣o comeﾃｧou. Pulando geraﾃｧﾃ｣o de pontuaﾃｧﾃｵes.

In [389]:
# def classificacao_por_grupo(df_rodadas, df_pontuacoes):

#     # ﾃθ津つ｢ﾃ窶ｦﾃ｢竄ｬﾅ禿δ｢ﾃ｢窶堋ｬﾃつｦ Remover o 'Lider_Rodada' do DataFrame de pontuaﾃθ津窶凖窶堙つｧﾃθ津窶凖窶堙つｵes
#     df_pontuacoes_times = df_pontuacoes.drop(index='Lider_Rodada', errors='ignore')

#     estatisticas = {}

#     for _, confronto in df_rodadas.iterrows():
#         rodada = confronto["Rodada"]
#         mandante = confronto["Mandante_Nome"]
#         visitante = confronto["Visitante_Nome"]
#         jogo = confronto["Jogo"]
#         coluna_rodada = f"Rodada {rodada}"

#         if mandante not in df_pontuacoes_times.index or visitante not in df_pontuacoes_times.index:
#             continue
#         if coluna_rodada not in df_pontuacoes_times.columns:
#             continue

#         pontos_mandante = df_pontuacoes_times.at[mandante, coluna_rodada]
#         pontos_visitante = df_pontuacoes_times.at[visitante, coluna_rodada]

#         if pd.isnull(pontos_mandante) or pd.isnull(pontos_visitante):
#             continue

#         for time in [mandante, visitante]:
#             if jogo not in estatisticas:
#                 estatisticas[jogo] = {}
#             if time not in estatisticas[jogo]:
#                 estatisticas[jogo][time] = {
#                     "Pontos": 0, "Vitﾃθ津窶凖窶堙つｳrias": 0, "Empates": 0, "Derrotas": 0,
#                     "Total_Cartola": 0, "Cartola_Sofrido": 0
#                 }

#         # Atualizar estatﾃθ津窶凖窶堙つｭsticas
#         estatisticas[jogo][mandante]["Total_Cartola"] += pontos_mandante
#         estatisticas[jogo][mandante]["Cartola_Sofrido"] += pontos_visitante

#         estatisticas[jogo][visitante]["Total_Cartola"] += pontos_visitante
#         estatisticas[jogo][visitante]["Cartola_Sofrido"] += pontos_mandante

#         if pontos_mandante > pontos_visitante:
#             estatisticas[jogo][mandante]["Pontos"] += 3
#             estatisticas[jogo][mandante]["Vitﾃθ津窶凖窶堙つｳrias"] += 1
#             estatisticas[jogo][visitante]["Derrotas"] += 1
#         elif pontos_mandante < pontos_visitante:
#             estatisticas[jogo][visitante]["Pontos"] += 3
#             estatisticas[jogo][visitante]["Vitﾃθ津窶凖窶堙つｳrias"] += 1
#             estatisticas[jogo][mandante]["Derrotas"] += 1
#         else:
#             estatisticas[jogo][mandante]["Pontos"] += 1
#             estatisticas[jogo][visitante]["Pontos"] += 1
#             estatisticas[jogo][mandante]["Empates"] += 1
#             estatisticas[jogo][visitante]["Empates"] += 1

#     # ﾃθ津つ｢ﾃ窶ｦﾃ｢竄ｬﾅ禿δ｢ﾃ｢窶堋ｬﾃつｦ Calcular Total Geral apenas para times vﾃθ津窶凖窶堙つ｡lidos
#     total_geral = df_pontuacoes_times.sum(axis=1)

#     # Montar DataFrame final
#     df_resultado = pd.concat([
#         pd.DataFrame({
#             "Jogo": jogo,
#             "Nome do Time": list(times.keys()),
#             "Pontos": [stats["Pontos"] for stats in times.values()],
#             "Vitﾃθ津窶凖窶堙つｳrias": [stats["Vitﾃθ津窶凖窶堙つｳrias"] for stats in times.values()],
#             "Empates": [stats["Empates"] for stats in times.values()],
#             "Derrotas": [stats["Derrotas"] for stats in times.values()],
#             "Total Cartola": [stats["Total_Cartola"] for stats in times.values()],
#             "Cartola Sofrido": [stats["Cartola_Sofrido"] for stats in times.values()],
#             "Saldo Cartola": [
#                 stats["Total_Cartola"] - stats["Cartola_Sofrido"] for stats in times.values()
#             ],
#             "Total Geral": [
#                 total_geral.get(nome, 0) for nome in times.keys()
#             ]
#         })
#         for jogo, times in estatisticas.items()
#     ], ignore_index=True)

#     df_resultado = df_resultado.sort_values(
#         by=["Jogo", "Pontos", "Vitﾃθ津窶凖窶堙つｳrias", "Total Cartola", "Saldo Cartola"],
#         ascending=[True, False, False, False, False]
#     )

#     df_resultado["Posiﾃθ津窶凖窶堙つｧﾃθ津窶凖窶堙つ｣o"] = df_resultado.groupby("Jogo").cumcount() + 1

#     df_resultado_por_grupo = {
#         grupo: df_resultado[df_resultado["Jogo"] == grupo] for grupo in df_resultado["Jogo"].unique()
#     }

#     return df_resultado, df_resultado_por_grupo

In [390]:
def classificacao_por_grupo(df_rodadas, df_pontuacoes):
    """Gera classificacao por grupo (ou jogo), exibindo times mesmo com pontuaﾃｧﾃｵes zeradas."""
    df_pontuacoes_times = df_pontuacoes.drop(index='Lider_Rodada', errors='ignore')
    estatisticas = {}

    for _, confronto in df_rodadas.iterrows():
        rodada = confronto.get("Rodada")
        mandante = confronto.get("Mandante_Nome")
        visitante = confronto.get("Visitante_Nome")
        jogo = confronto.get("Jogo")
        coluna_rodada = f"Rodada {rodada}"

        # Pula se o jogo nﾃ｣o existir na planilha
        if mandante not in df_pontuacoes_times.index or visitante not in df_pontuacoes_times.index:
            continue
        if coluna_rodada not in df_pontuacoes_times.columns:
            continue

        pontos_mandante = df_pontuacoes_times.at[mandante, coluna_rodada]
        pontos_visitante = df_pontuacoes_times.at[visitante, coluna_rodada]

        # Se nﾃ｣o tiver pontuaﾃｧﾃ｣o ainda, define como 0
        if pd.isnull(pontos_mandante):
            pontos_mandante = 0
        if pd.isnull(pontos_visitante):
            pontos_visitante = 0

        # Inicializa estrutura
        if jogo not in estatisticas:
            estatisticas[jogo] = {}
        for time in [mandante, visitante]:
            if time not in estatisticas[jogo]:
                estatisticas[jogo][time] = {
                    "Pontos": 0, "Vitﾃｳrias": 0, "Empates": 0, "Derrotas": 0,
                    "Total_Cartola": 0, "Cartola_Sofrido": 0
                }

        # Atualiza totais
        estatisticas[jogo][mandante]["Total_Cartola"] += pontos_mandante
        estatisticas[jogo][mandante]["Cartola_Sofrido"] += pontos_visitante
        estatisticas[jogo][visitante]["Total_Cartola"] += pontos_visitante
        estatisticas[jogo][visitante]["Cartola_Sofrido"] += pontos_mandante

        # Atualiza pontos somente se jﾃθ津つ｡ houve pontuaﾃθ津つｧﾃθ津つ｣o real
        if pontos_mandante == 0 and pontos_visitante == 0:
            continue

        if pontos_mandante > pontos_visitante:
            estatisticas[jogo][mandante]["Pontos"] += 3
            estatisticas[jogo][mandante]["Vitﾃｳrias"] += 1
            estatisticas[jogo][visitante]["Derrotas"] += 1
        elif pontos_mandante < pontos_visitante:
            estatisticas[jogo][visitante]["Pontos"] += 3
            estatisticas[jogo][visitante]["Vitﾃｳrias"] += 1
            estatisticas[jogo][mandante]["Derrotas"] += 1
        else:
            estatisticas[jogo][mandante]["Pontos"] += 1
            estatisticas[jogo][visitante]["Pontos"] += 1
            estatisticas[jogo][mandante]["Empates"] += 1
            estatisticas[jogo][visitante]["Empates"] += 1

    # Caso ainda nﾃ｣o existam pontuaﾃｧﾃｵes, monta estrutura zerada
    if not estatisticas:
        print("Exibindo classificaﾃｧﾃ｣o inicial com pontuaﾃｧﾃｵes zeradas.")
        jogos = df_rodadas["Jogo"].unique()
        estatisticas = {
            jogo: {
                row["Mandante_Nome"]: {"Pontos": 0, "Vitﾃｳrias": 0, "Empates": 0, "Derrotas": 0,
                                       "Total_Cartola": 0, "Cartola_Sofrido": 0},
                row["Visitante_Nome"]: {"Pontos": 0, "Vitﾃｳrias": 0, "Empates": 0, "Derrotas": 0,
                                        "Total_Cartola": 0, "Cartola_Sofrido": 0}
            }
            for jogo, row in df_rodadas.groupby("Jogo").first().iterrows()
        }

    # Monta DataFrame final
    df_resultado = pd.concat([
        pd.DataFrame({
            "Jogo": jogo,
            "Nome do Time": list(times.keys()),
            "Pontos": [stats["Pontos"] for stats in times.values()],
            "Vitﾃｳrias": [stats["Vitﾃｳrias"] for stats in times.values()],
            "Empates": [stats["Empates"] for stats in times.values()],
            "Derrotas": [stats["Derrotas"] for stats in times.values()],
            "Total Cartola": [stats["Total_Cartola"] for stats in times.values()],
            "Cartola Sofrido": [stats["Cartola_Sofrido"] for stats in times.values()],
            "Saldo Cartola": [
                stats["Total_Cartola"] - stats["Cartola_Sofrido"] for stats in times.values()
            ]
        })
        for jogo, times in estatisticas.items()
    ], ignore_index=True)

    # Ordena e adiciona posiﾃｧﾃ｣o
    df_resultado = df_resultado.sort_values(
        by=["Jogo", "Pontos", "Vitﾃｳrias", "Total Cartola", "Saldo Cartola"],
        ascending=[True, False, False, False, False]
    )
    df_resultado["Posiﾃｧﾃ｣o"] = df_resultado.groupby("Jogo").cumcount() + 1

    df_resultado_por_jogo = {
        jogo: df_resultado[df_resultado["Jogo"] == jogo] for jogo in df_resultado["Jogo"].unique()
    }

    return df_resultado, df_resultado_por_jogo

In [391]:
# Padroniza os nomes no df_rodadas
df_rodadas["Mandante_Nome"] = df_rodadas["Mandante_Nome"].str.strip()
df_rodadas["Visitante_Nome"] = df_rodadas["Visitante_Nome"].str.strip()

# Padroniza os ﾃθ津窶凖窶堙つｭndices do df_pontuacoes
df_pontuacoes.index = df_pontuacoes.index.str.strip()

# Exibe para conferﾃθ津窶凖窶?ncia
display(df_pontuacoes)

AttributeError: Can only use .str accessor with string values!

In [ ]:
# Gerar a classificaﾃｧﾃ｣o da fase 1 sula
df_resultado, df_resultado_por_jogo = classificacao_por_grupo(df_rodadas, df_pontuacoes)

# Salvar cada grupo em uma aba do Excel
with pd.ExcelWriter("1_classificacao_por_jogo_oitavas_sula.xlsx") as writer:
    for jogo, df in df_resultado_por_jogo.items():
        df.to_excel(writer, sheet_name=jogo, index=False)

# Exibir a classificaﾃｧﾃ｣o geral
df_resultado_jogo_1 = df_resultado[df_resultado["Jogo"] == "Jogo 1 (JG1)"]
df_resultado_jogo_2 = df_resultado[df_resultado["Jogo"] == "Jogo 2 (JG2)"]
df_resultado_jogo_3 = df_resultado[df_resultado["Jogo"] == "Jogo 3 (JG3)"]
df_resultado_jogo_4 = df_resultado[df_resultado["Jogo"] == "Jogo 4 (JG4)"]
df_resultado_jogo_5 = df_resultado[df_resultado["Jogo"] == "Jogo 5 (JG5)"]
df_resultado_jogo_6 = df_resultado[df_resultado["Jogo"] == "Jogo 6 (JG6)"]
df_resultado_jogo_7 = df_resultado[df_resultado["Jogo"] == "Jogo 7 (JG7)"]
df_resultado_jogo_8 = df_resultado[df_resultado["Jogo"] == "Jogo 8 (JG8)"]

display(df_resultado_jogo_1, df_resultado_jogo_2, df_resultado_jogo_3, df_resultado_jogo_4,
         df_resultado_jogo_5, df_resultado_jogo_6, df_resultado_jogo_7, df_resultado_jogo_8)

In [ ]:
# Verifica se a variﾃ｡vel df_resultado_por_grupo existe e estﾃ｡ populada
if 'df_resultado_por_jogo' in locals() and df_resultado_por_jogo:
    # Criar estrutura em formato de dicionﾃ｡rio para JSON/JS
    classificacao_js = {}

    for jogo, df in df_resultado_por_jogo.items():
        classificacao_js[jogo] = []
        for _, row in df.iterrows():
            classificacao_js[jogo].append({
                "posicao": int(row["Posiﾃｧﾃ｣o"]),
                "nome": row["Nome do Time"],
                "pontos": int(row["Pontos"]),
                "vitorias": int(row["Vitﾃｳrias"]),
                "empates": int(row["Empates"]),
                "derrotas": int(row["Derrotas"]),
                "totalCartola": float(row["Total Cartola"]),
                "cartolaSofrido": float(row["Cartola Sofrido"]),
                "saldoCartola": float(row["Saldo Cartola"])
            })

    # Converter para JSON formatado
    json_str = json.dumps(classificacao_js, indent=2, ensure_ascii=False)

    # Salvar como arquivo JS com uma variﾃ｡vel global
    with open("1_classificacao_por_jogo_oitavas_sula.js", "w", encoding="utf-8") as f:
        f.write("const classificacao_oitavas_sula = ")
        f.write(json_str)
        f.write(";")

    print("Arquivo JS salvo com sucesso.")

else:
    print("Classificaﾃｧﾃ｣o das Oitavas da Sula indisponﾃｭvel. O mercado pode estar em manutenﾃｧﾃ｣o ou os dados ainda nﾃ｣o foram gerados.")

In [ ]:
def exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada, jogo=None):
    """
    Exibe os resultados de uma rodada especﾃｭfica, com pontuaﾃｧﾃ｣o e dados dos times.
    """

    if "Rodada" not in df_rodadas.columns:
        raise ValueError("O DataFrame df_rodadas precisa conter a coluna 'Rodada'.")

    if rodada not in df_rodadas["Rodada"].values:
        return pd.DataFrame([{
            "Jogo": jogo or "-",
            "Rodada": rodada,
            "Mandante_Nome": "-",
            "Mandante_Clube": "-",
            "Mandante_Participante": "-",
            "Mandante_Pontos": "-",
            "Visitante_Nome": "-",
            "Visitante_Clube": "-",
            "Visitante_Participante": "-",
            "Visitante_Pontos": "-",
        }])

    df_filtrado = df_rodadas[df_rodadas["Rodada"] == rodada]
    if jogo:
        df_filtrado = df_filtrado[df_filtrado["Jogo"] == jogo]

    resultados = []

    for _, row in df_filtrado.iterrows():
        jogo_ = row["Jogo"]
        mandante = row["Mandante_Nome"]
        visitante = row["Visitante_Nome"]

        pontos_mandante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(mandante, None)
        pontos_visitante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(visitante, None)

        resultados.append({
            "Jogo": jogo_,
            "Rodada": rodada,
            "Mandante_Nome": mandante,
            "Mandante_Pontos": pontos_mandante,
            "Visitante_Nome": visitante,
            "Visitante_Pontos": pontos_visitante
        })

    return pd.DataFrame(resultados)

In [ ]:
# Exibir resultados da 13ﾂｪ rodada
df_resultados_rodada_13 = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=13)

# Exibir apenas os resultados do Grupo B na 1ﾂｪ rodada
df_resultados_jogo_2 = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=13, jogo="Jogo 2 (JG2)")

# Exibir
display(df_resultados_rodada_13)

In [ ]:
# Criar arquivo com uma aba para cada rodada contendo os resultados detalhados
from pathlib import Path

# Caminho do arquivo de saﾃｭda
caminho_resultados = "1_resultados_oitavas_sula.xlsx"

# Descobrir as rodadas ﾃｺnicas no DataFrame
rodadas_disponiveis = sorted(df_rodadas["Rodada"].unique())

with pd.ExcelWriter(caminho_resultados) as writer:
    for rodada in rodadas_disponiveis:
        df_resultados = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=rodada)
        nome_aba = f"Rodada {rodada}"
        df_resultados.to_excel(writer, sheet_name=nome_aba, index=False)

print(f"Arquivo salvo com sucesso: {Path(caminho_resultados).resolve()}")

display(df_resultados)

In [ ]:
resultados_js = []

for rodada in sorted(df_rodadas["Rodada"].unique()):
    df_resultados = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=rodada)
    
    for _, row in df_resultados.iterrows():
        resultado = {
            "jogo": row["Jogo"],
            "rodada": int(rodada),
            "mandante": {
                "nome": row["Mandante_Nome"],
                # "participante": row["Mandante_Participante"],
                # "clube": row["Mandante_Clube"],
                "pontos": float(row["Mandante_Pontos"]) if row["Mandante_Pontos"] is not None else None
            },
            "visitante": {
                "nome": row["Visitante_Nome"],
                # "participante": row["Visitante_Participante"],
                # "clube": row["Visitante_Clube"],
                "pontos": float(row["Visitante_Pontos"]) if row["Visitante_Pontos"] is not None else None
            },
            "vencedor": (
                "mandante" if row["Mandante_Pontos"] is not None and row["Visitante_Pontos"] is not None and row["Mandante_Pontos"] > row["Visitante_Pontos"]
                else "visitante" if row["Mandante_Pontos"] is not None and row["Visitante_Pontos"] is not None and row["Mandante_Pontos"] < row["Visitante_Pontos"]
                else "empate" if row["Mandante_Pontos"] == row["Visitante_Pontos"] and row["Mandante_Pontos"] is not None
                else "indefinido"
            )

        }
        resultados_js.append(resultado)

# Exportar para arquivo .js
import json

with open("1_resultados_oitavas_sula.js", "w", encoding="utf-8") as f:
    f.write("const resultados_oitavas_sula = ")
    f.write(json.dumps(resultados_js, indent=2, ensure_ascii=False))
    f.write(";")

### Identificando Vencedores das Oitavas de Final

In [ ]:
def obter_classificados_com_id(resultados, ids_por_nome):
    classificados = []
    jogos_agrupados = {}
    for jogo in resultados:
        chave = jogo['jogo']
        if chave not in jogos_agrupados:
            jogos_agrupados[chave] = []
        jogos_agrupados[chave].append(jogo)

    for chave, partidas in jogos_agrupados.items():
        if len(partidas) < 2:
            continue

        partidas = sorted(partidas, key=lambda x: x['rodada'])
        ida, volta = partidas

        if ida['mandante']['pontos'] is None or volta['mandante']['pontos'] is None:
            continue

        time1 = ida['mandante']['nome']
        time2 = ida['visitante']['nome']

        pontos_time1 = ida['mandante']['pontos'] + volta['visitante']['pontos']
        pontos_time2 = ida['visitante']['pontos'] + volta['mandante']['pontos']

        if pontos_time1 > pontos_time2:
            vencedor = time1
        elif pontos_time2 > pontos_time1:
            vencedor = time2
        else:
            vencedor = "EMPATE"

        classificados.append({
            "jogo": chave,
            "classificado_nome": vencedor,
            "classificado_id": ids_por_nome.get(vencedor) if vencedor in ids_por_nome else None
        })

    return classificados

In [ ]:
if not COMPETICAO_INICIOU:
    print("Competiﾃｧﾃ｣o ainda nﾃ｣o comeﾃｧou. Pulando geraﾃｧﾃ｣o de classificados.")
else:
    # Inverter os nomes
    ids_por_nome = {v: k for k, v in nomes_por_id.items()}
    
    # Ler o resultados_fase_3.js (como jﾃ｡ fizemos antes)
    with open("1_resultados_oitavas_sula.js", "r", encoding="utf-8") as f:
        conteudo = f.read()
    
    conteudo_json = conteudo.replace("const resultados_oitavas_sula = ", "").strip().rstrip(";")
    resultados = json.loads(conteudo_json)
    
    # Obter os classificados
    classificados = obter_classificados_com_id(resultados, ids_por_nome)
    
    # Salvar
    df_classificados = pd.DataFrame(classificados)
    df_classificados.to_excel("1_classificados_oitavas_sula.xlsx", index=False)
    
    with open("1_classificados_oitavas_sula.js", "w", encoding="utf-8") as f:
        f.write("const classificados_oitavas_sula = ")
        json.dump(classificados, f, ensure_ascii=False, indent=2)
        f.write(";")
    print("Classificados salvos com sucesso em '1_classificados_oitavas_sula.xlsx' e '1_classificados_oitavas_sula.js'.")
    
    # Exibir para validar
    print("Classificados encontrados:", classificados)