### FASE 2 da Libertadores

In [25]:
import cartolafc
import pandas as pd
from difflib import get_close_matches
import json

pd.set_option('display.max_columns', 50)            # permite a visualizaÃ§Ã£o de 50 colunas do dataframe
pd.options.display.float_format = '{:.2f}'.format   # pandas: para todos os nÃºmeros aparecerem com duas casas decimais

# Cria uma instÃ¢ncia da API
api = cartolafc.Api(attempts=5)

ðŸ†LIBERTA FASE 2:

âš½ GRUPO I
1Â°A - 2Â°B - 1Â°C - 2Â°D

âš½ GRUPO J
1Â°B - 2Â°A - 1Â°D - 2Â°C

âš½ GRUPO K
1Â°E - 2Â°F - 1Â°G - 2Â°H

âš½ GRUPO L
1Â°F - 2Â°E - 1Â°H - 2Â°G

In [26]:
# DicionÃ¡rio com ID -> Nome do time (gerado anteriormente)
nomes_por_id = {
    # Grupo I
    29228373: 'seralex', 
    44810918: 'lsauer fc',
    48498051: 'Pity10',
    3851966: 'cartola scheuer',

    # Grupo J
    25751748: 'MauHumor F.C.',
    18642587: 'Fedato Futebol Clube',
    18661583: 'pura bucha /botafogo',
    14124559: 'Paulo Virgili FC',

    # Grupo K
    1273719: 'Texas Club 2025',
    3246608: 'Real SCI',
    212042: 'Tatols Beants F.C',
    29411306: 'RHANKA DENTY FC25',

    # Grupo L
    25311459: 'FC Los Castilho',
    18344271: 'Laranjja Mecannica',
    117598: 'A Lenda Super Vasco F.c',
    335716: 'teves_futsal20 f.c',    
}

In [27]:
# Lista com todos os dados que vocÃª passou
dados_torneio = [
    # Grupo I
    ("Grupo I", 29228373),
    ("Grupo I", 44810918),
    ("Grupo I", 48498051),
    ("Grupo I", 3851966),
    # Grupo J
    ("Grupo J", 25751748),
    ("Grupo J", 18642587),
    ("Grupo J", 18661583),
    ("Grupo J", 14124559),
    # Grupo K
    ("Grupo K", 1273719),
    ("Grupo K", 3246608),
    ("Grupo K", 212042),
    ("Grupo K", 29411306),
    # Grupo L
    ("Grupo L", 25311459),
    ("Grupo L", 18344271),
    ("Grupo L", 117598),
    ("Grupo L", 335716),
]

# Criar DataFrame base
df_torneio = pd.DataFrame(dados_torneio, columns=["Grupo", "ID do Time"])

# Adicionar Nome do Time usando o dicionÃ¡rio
df_torneio["Nome do Time"] = df_torneio["ID do Time"].map(nomes_por_id)

# Adicionar ID no Grupo
df_torneio["ID no Grupo"] = df_torneio.groupby("Grupo").cumcount() + 1
df_torneio["ID no Grupo"] = df_torneio["ID no Grupo"].astype(str) + "_" + df_torneio["Grupo"].str[-1]

# Reorganizar colunas
df_torneio = df_torneio[["Grupo", "ID do Time", "Nome do Time", "ID no Grupo"]]

df_liberta_grupo_I = df_torneio[df_torneio["Grupo"] == "Grupo I"]
df_liberta_grupo_J = df_torneio[df_torneio["Grupo"] == "Grupo J"]
df_liberta_grupo_K = df_torneio[df_torneio["Grupo"] == "Grupo K"]
df_liberta_grupo_L = df_torneio[df_torneio["Grupo"] == "Grupo L"]

# Lista de grupos
grupos = {
    "Grupo A": df_liberta_grupo_I,
    "Grupo B": df_liberta_grupo_J,
    "Grupo C": df_liberta_grupo_K,
    "Grupo D": df_liberta_grupo_L,
}

In [28]:
display(df_liberta_grupo_I)

     Grupo  ID do Time     Nome do Time ID no Grupo
0  Grupo I    29228373          seralex         1_I
1  Grupo I    44810918        lsauer fc         2_I
2  Grupo I    48498051           Pity10         3_I
3  Grupo I     3851966  cartola scheuer         4_I

### DefiniÃ§Ã£o dos Confrontos das 6 Rodadas da Fase 2 da Libertadores (Rodada 7 A 12)

In [29]:
# Rodada 1 - Fase 2 Libertadores (Equivalente a &Âº Rodada do Campeonato Brasileiro)
 #     1: [(1,2), (3,4)],
confrontos_1a_rodada = [
    # Grupo I
    ("Grupo I", "1_I", "2_I"),
    ("Grupo I", "3_I", "4_I"),

    # Grupo J
    ("Grupo J", "1_J", "2_J"),
    ("Grupo J", "3_J", "4_J"),

    # Grupo K
    ("Grupo K", "1_K", "2_K"),
    ("Grupo K", "3_K", "4_K"),

    # Grupo L
    ("Grupo L", "1_L", "2_L"),
    ("Grupo L", "3_L", "4_L")
]

# Rodada 2 - Fase 2 Libertadores (Equivalente a 8Âº Rodada do Campeonato Brasileiro)
#     2: [(2,3), (4,1)],
confrontos_2a_rodada = [
    # Grupo I
    ("Grupo I", "2_I", "3_I"),
    ("Grupo I", "4_I", "1_I"),

    # Grupo J
    ("Grupo J", "2_J", "3_J"),
    ("Grupo J", "4_J", "1_J"),

    # Grupo K
    ("Grupo K", "2_K", "3_K"),
    ("Grupo K", "4_K", "1_K"),

    # Grupo L
    ("Grupo L", "2_L", "3_L"),
    ("Grupo L", "4_L", "1_L")
]

# Rodada 3 - Fase 2 Libertadores (Equivalente a 9Âº Rodada do Campeonato Brasileiro)
#     3: [(1,3), (4,2)],
confrontos_3a_rodada = [
    # Grupo I
    ("Grupo I", "1_I", "3_I"),
    ("Grupo I", "4_I", "2_I"),

    # Grupo J
    ("Grupo J", "1_J", "3_J"),
    ("Grupo J", "4_J", "2_J"),

    # Grupo K
    ("Grupo K", "1_K", "3_K"),
    ("Grupo K", "4_K", "2_K"),

    # Grupo L
    ("Grupo L", "1_L", "3_L"),
    ("Grupo L", "4_L", "2_L")
]

# Rodada 4 - Fase 2 Libertadores (Equivalente a 10Âº Rodada do Campeonato Brasileiro)
#     4: [(2,1), (4,3)],
confrontos_4a_rodada = [
    # Grupo I
    ("Grupo I", "2_I", "1_I"),
    ("Grupo I", "4_I", "3_I"),

    # Grupo J
    ("Grupo J", "2_J", "1_J"),
    ("Grupo J", "4_J", "3_J"),

    # Grupo K
    ("Grupo K", "2_K", "1_K"),
    ("Grupo K", "4_K", "3_K"),

    # Grupo L
    ("Grupo L", "2_L", "1_L"),
    ("Grupo L", "4_L", "3_L")
]

# Rodada 5 - Fase 2 Libertadores (Equivalente a 11Âº Rodada do Campeonato Brasileiro)
#     5: [(3,2), (1,4)],
confrontos_5a_rodada = [
    # Grupo I
    ("Grupo I", "3_I", "2_I"),
    ("Grupo I", "1_I", "4_I"),

    # Grupo J
    ("Grupo J", "3_J", "2_J"),
    ("Grupo J", "1_J", "4_J"),

    # Grupo K
    ("Grupo K", "3_K", "2_K"),
    ("Grupo K", "1_K", "4_K"),

    # Grupo L
    ("Grupo L", "3_L", "2_L"),
    ("Grupo L", "1_L", "4_L")
]

# Rodada 6 - Fase 2 Libertadores (Equivalente a 12Âº Rodada do Campeonato Brasileiro)
 #     6: [(3,1), (2,4)],
confrontos_6a_rodada = [
    # Grupo I
    ("Grupo I", "3_I", "1_I"),
    ("Grupo I", "2_I", "4_I"),

    # Grupo J
    ("Grupo J", "3_J", "1_J"),
    ("Grupo J", "2_J", "4_J"),

    # Grupo K
    ("Grupo K", "3_K", "1_K"),
    ("Grupo K", "2_K", "4_K"),

    # Grupo L
    ("Grupo L", "3_L", "1_L"),
    ("Grupo L", "2_L", "4_L")
]

In [30]:
# Transformar em DataFrame
df_confrontos = pd.DataFrame(confrontos_1a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])

# Junta com df_torneio para buscar dados dos mandantes
df_mandantes = df_torneio.rename(columns={
    "ID no Grupo": "Mandante_ID",
    "Nome do Time": "Mandante_Nome",
    "ID do Time": "Mandante_ID_Time"
})[["Grupo", "Mandante_ID", "Mandante_Nome", "Mandante_ID_Time"]]

# Junta com df_torneio para buscar dados dos visitantes
df_visitantes = df_torneio.rename(columns={
    "ID no Grupo": "Visitante_ID",
    "Nome do Time": "Visitante_Nome",
    "ID do Time": "Visitante_ID_Time"    
})[["Grupo", "Visitante_ID", "Visitante_Nome", "Visitante_ID_Time"]]

In [31]:
# df_confrontos

In [32]:
# Transformar em DataFrame
df_confrontos = pd.DataFrame(confrontos_1a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos["Rodada"] = 26  # <<< ADICIONAR ESTA LINHA
df_rodada_1 = df_confrontos.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_1 = df_rodada_1.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

# Transformar em DataFrame
df_confrontos_2 = pd.DataFrame(confrontos_2a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_2["Rodada"] = 27
df_rodada_2 = df_confrontos_2.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_2 = df_rodada_2.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

# Transformar em DataFrame
df_confrontos_3 = pd.DataFrame(confrontos_3a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_3["Rodada"] = 28
df_rodada_3 = df_confrontos_3.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_3 = df_rodada_3.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

# Criar DataFrame da 4Âª rodada
df_confrontos_4 = pd.DataFrame(confrontos_4a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_4["Rodada"] = 29
df_rodada_4 = df_confrontos_4.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_4 = df_rodada_4.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

# Quinta rodada
df_confrontos_5 = pd.DataFrame(confrontos_5a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_5["Rodada"] = 30
df_rodada_5 = df_confrontos_5.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_5 = df_rodada_5.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

# Sexta rodada
df_confrontos_6 = pd.DataFrame(confrontos_6a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_6["Rodada"] = 31
df_rodada_6 = df_confrontos_6.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_6 = df_rodada_6.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

In [33]:
df_rodadas = pd.concat([
    df_rodada_1,
    df_rodada_2,
    df_rodada_3,
    df_rodada_4,
    df_rodada_5,
    df_rodada_6
], ignore_index=True)

# Ajustar a numeraÃ§Ã£o da rodada para refletir as rodadas do Cartola (Rodada 7 atÃ© 12)
df_rodadas["Rodada"] = df_rodadas["Rodada"]  # Ex: 1 -> 7, 2 -> 8, ..., 6 -> 12

df_rodadas.to_excel("confrontos_fase_1_libertadores.xlsx", index=False)

# Exibir os confrontos da fase 1
display(df_rodadas.head(8))

,Grupo,Mandante_ID,Visitante_ID,Rodada,Mandante_Nome,Mandante_ID_Time,Visitante_Nome,Visitante_ID_Time
0,Grupo I,1_I,2_I,26,seralex,29228373,lsauer fc,44810918
1,Grupo I,3_I,4_I,26,Pity10,48498051,cartola scheuer,3851966
2,Grupo J,1_J,2_J,26,MauHumor F.C.,25751748,Fedato Futebol Clube,18642587
3,Grupo J,3_J,4_J,26,pura bucha /botafogo,18661583,Paulo Virgili FC,14124559
4,Grupo K,1_K,2_K,26,Texas Club 2025,1273719,Real SCI,3246608
5,Grupo K,3_K,4_K,26,Tatols Beants F.C,212042,RHANKA DENTY FC25,29411306
6,Grupo L,1_L,2_L,26,FC Los Castilho,25311459,Laranjja Mecannica,18344271
7,Grupo L,3_L,4_L,26,A Lenda Super Vasco F.c,117598,teves_futsal20 f.c,335716

In [34]:
# Criar lista de dicionÃ¡rios no formato desejado
confrontos_js_fase_2 = []

for _, row in df_rodadas.iterrows():
    confronto = {
        "grupo": row["Grupo"],
        "rodada": int(row["Rodada"]),
        "mandante": {
            "id": int(row["Mandante_ID_Time"]),
            "nome": row["Mandante_Nome"],
            # "clube": row["Mandante_Clube"],
            # "participante": row["Mandante_Participante"]
        },
        "visitante": {
            "id": int(row["Visitante_ID_Time"]),
            "nome": row["Visitante_Nome"],
            # "clube": row["Visitante_Clube"],
            # "participante": row["Visitante_Participante"]
        }
    }
    confrontos_js_fase_2.append(confronto)

# Converter para JSON formatado
json_str = json.dumps(confrontos_js_fase_2, indent=2, ensure_ascii=False)

# Salvar como arquivo JS com uma variÃ¡vel global
with open("confrontos_fase2_libertadores.js", "w", encoding="utf-8") as f:
    f.write("const confrontosFase2 = ")
    f.write(json_str)
    f.write(";")

In [35]:
def exibir_confrontos(df_rodadas, rodada=None, grupo=None):
    """
    Filtra e exibe os confrontos por rodada e/ou grupo.
    
    ParÃ¢metros:
    - df_rodadas: DataFrame com todos os confrontos
    - rodada: nÃºmero da rodada (int ou None para todas)
    - grupo: nome do grupo (str ou None para todos)
    
    Retorna:
    - DataFrame filtrado com as colunas relevantes
    """
    colunas = ["Rodada", "Grupo", "Mandante_Nome", "Visitante_Nome"]
    df_filtrado = df_rodadas.copy()

    df_filtrado["Rodada"] = df_filtrado["Rodada"].astype(str) + "Âª Rodada"    

    if rodada is not None:
        df_filtrado = df_filtrado[df_filtrado["Rodada"] == rodada]

    if grupo is not None:
        df_filtrado = df_filtrado[df_filtrado["Grupo"] == grupo]

    return df_filtrado[colunas].sort_values(by=["Grupo", "Rodada"])

In [36]:
# Exibir todos os confrontos do Grupo C
display(exibir_confrontos(df_rodadas, grupo="Grupo L").head(20))

        Rodada    Grupo            Mandante_Nome           Visitante_Nome
6   26Âª Rodada  Grupo L          FC Los Castilho       Laranjja Mecannica
7   26Âª Rodada  Grupo L  A Lenda Super Vasco F.c       teves_futsal20 f.c
14  27Âª Rodada  Grupo L       Laranjja Mecannica  A Lenda Super Vasco F.c
15  27Âª Rodada  Grupo L       teves_futsal20 f.c          FC Los Castilho
22  28Âª Rodada  Grupo L          FC Los Castilho  A Lenda Super Vasco F.c
23  28Âª Rodada  Grupo L       teves_futsal20 f.c       Laranjja Mecannica
30  29Âª Rodada  Grupo L       Laranjja Mecannica          FC Los Castilho
31  29Âª Rodada  Grupo L       teves_futsal20 f.c  A Lenda Super Vasco F.c
38  30Âª Rodada  Grupo L  A Lenda Super Vasco F.c       Laranjja Mecannica
39  30Âª Rodada  Grupo L          FC Los Castilho       teves_futsal20 f.c
46  31Âª Rodada  Grupo L  A Lenda Super Vasco F.c          FC Los Castilho
47  31Âª Rodada  Grupo L       Laranjja Mecannica       teves_futsal20 f.c

In [37]:
def campeonato_comecou(api, ids_times):
    """Verifica se o campeonato jÃ¡ comeÃ§ou observando a pontuaÃ§Ã£o na 1Âª rodada."""
    for time_id in ids_times.values():
        try:
            pontuacao = api.time(time_id=time_id, rodada=26).ultima_pontuacao
            if pontuacao is not None:
                return True
        except cartolafc.errors.CartolaFCError:
            continue
    return False

def obter_pontuacao_por_rodada(api, time_id, rodada_atual):
    """ObtÃ©m a pontuaÃ§Ã£o do time em cada rodada atÃ© a rodada atual."""
    pontuacoes = {}
    for rodada in range(26, rodada_atual):
        try:
            time_rodada = api.time(time_id=time_id, rodada=rodada)
            pontuacoes[rodada] = time_rodada.ultima_pontuacao
        except cartolafc.errors.CartolaFCError as e:
            print(f"Erro ao acessar pontuaÃ§Ã£o da rodada {rodada} para o time {time_id}: {e}")
            pontuacoes[rodada] = None
    return pontuacoes

def gerar_df_pontuacoes(api, ids_times):
    rodada_atual = api.mercado().rodada_atual
    total_rodadas = 6

    if not campeonato_comecou(api, ids_times):
        print("ðŸ“Œ O campeonato ainda nÃ£o comeÃ§ou. Criando estrutura com placeholders.")
        df = pd.DataFrame(index=ids_times.keys(), columns=[f'Rodada {i}' for i in range(26, total_rodadas + 1)])
        df[:] = 0
    else:
        df = pd.DataFrame()
        for nome, time_id in ids_times.items():
            pontuacoes = obter_pontuacao_por_rodada(api, time_id, rodada_atual)
            df[nome] = pd.Series(pontuacoes)
        df = df.transpose()
        df.columns = [f'Rodada {i}' for i in range(26, rodada_atual)]
        df.loc['Lider_Rodada'] = df.idxmax()
    
    return df

# ------------------------------------------------------------------------------------------------------------------------------------------------------------------------
########################################################################### USAR NA PRIMEIRA RODADA DA FASE 2 QUANDO AINDA NÃƒO HOUVER PONTUAÃ‡Ã•ES #########################
# ------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# def gerar_df_pontuacoes(api, ids_times, rodada_atual, classificacao_anterior):
#     dados = {}

#     if rodada_atual > 26:  
#         # ðŸ”¹ JÃ¡ tem pontuaÃ§Ã£o (normal)
#         for time_nome, time_id in ids_times.items():
#             dados[time_nome] = {}
#             for rodada in range(26, rodada_atual):
#                 pontos = api.buscar_pontuacao(time_id, rodada)
#                 if pontos is not None:
#                     dados[time_nome][f'Rodada {rodada}'] = pontos

#         df = pd.DataFrame(dados)

#         if not df.empty:
#             df = df.transpose()
#             df.columns = [f'Rodada {i}' for i in range(26, rodada_atual)]
#             df.loc['Lider_Rodada'] = df.idxmax()
#             return df

#     # ðŸ”¹ Caso ainda nÃ£o tenha comeÃ§ado a Fase 2 â†’ cria tabela zerada
#     df = pd.DataFrame([
#         {
#             "Time": time_nome,
#             "Pts": 0,
#             "J": 0,
#             "V": 0,
#             "E": 0,
#             "D": 0,
#             # "Total": 0.00
#         }
#         for time_nome in classificacao_anterior  # mantÃ©m ordem definida pela fase anterior
#     ])

    # df.set_index("Time", inplace=True)
    # return df
# ------------------------------------------------------------------------------------------------------------------------------------------------------------------------
########################################################################### USAR NA PRIMEIRA RODADA DA FASE 2 QUANDO AINDA NÃƒO HOUVER PONTUAÃ‡Ã•ES #########################
# ------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [38]:
ids_times = {v: k for k, v in nomes_por_id.items()}

df_pontuacoes = gerar_df_pontuacoes(api, ids_times)
display(df_pontuacoes.T)


# ------------------------------------------------------------------------------------------------------------------------------------------------------------------------
########################################################################### USAR NA PRIMEIRA RODADA DA FASE 2 QUANDO AINDA NÃƒO HOUVER PONTUAÃ‡Ã•ES #########################
# ------------------------------------------------------------------------------------------------------------------------------------------------------------------------
# # Rodada atual da competiÃ§Ã£o (mÃ­nimo 26 na fase 2)
# try:
#     rodada_atual = api.buscar_rodada_atual()
# except:
#     rodada_atual = 26

# ids_times = {v: k for k, v in nomes_por_id.items()}

# # ðŸš¨ Lista de times jÃ¡ na ordem final da fase anterior
# # Exemplo: ["Dom Camillo68", "lsauer fc", "Analove10 ITAQUI GRANDE!!", ...]
# classificacao_anterior = list(nomes_por_id.values())

# df_pontuacoes = gerar_df_pontuacoes(api, ids_times)#, rodada_atual, classificacao_anterior)

# display(df_pontuacoes)
# ------------------------------------------------------------------------------------------------------------------------------------------------------------------------
########################################################################### USAR NA PRIMEIRA RODADA DA FASE 2 QUANDO AINDA NÃƒO HOUVER PONTUAÃ‡Ã•ES #########################
# ------------------------------------------------------------------------------------------------------------------------------------------------------------------------

,seralex,lsauer fc,Pity10,cartola scheuer,MauHumor F.C.,Fedato Futebol Clube,pura bucha /botafogo,Paulo Virgili FC,Texas Club 2025,Real SCI,Tatols Beants F.C,RHANKA DENTY FC25,FC Los Castilho,Laranjja Mecannica,A Lenda Super Vasco F.c,teves_futsal20 f.c,Lider_Rodada
Rodada 26,90.92,89.64,91.14,96.94,87.75,97.05,97.44,87.09,96.94,103.94,81.44,103.94,106.14,112.62,105.94,90.14,Laranjja Mecannica
Rodada 27,91.47,102.47,104.25,98.97,78.57,77.22,105.67,76.37,80.17,98.97,113.37,99.27,101.07,106.87,99.27,103.07,Tatols Beants F.C
Rodada 28,107.91,112.54,126.24,118.64,124.71,120.54,120.11,109.46,118.64,105.24,101.51,131.04,127.64,125.74,118.64,126.24,RHANKA DENTY FC25
Rodada 29,103.33,104.78,93.83,114.38,112.53,118.98,116.95,107.29,114.38,79.43,100.94,115.48,100.03,123.58,115.48,93.83,Laranjja Mecannica
Rodada 30,57.29,28.94,45.99,45.69,22.99,27.89,42.59,85.01,45.69,23.39,68.21,23.39,51.69,28.80,23.39,62.29,Paulo Virgili FC
Rodada 31,90.07,105.97,97.52,94.57,91.32,88.82,94.07,79.02,94.57,108.77,68.42,90.47,85.47,102.24,85.47,99.82,Real SCI

In [39]:
# def classificacao_por_grupo(df_rodadas, df_pontuacoes):
#     """
#     ClassificaÃ§Ã£o dos grupos com base nos confrontos e nas pontuaÃ§Ãµes do Cartola.

#     Retorna:
#     - df_resultado: classificaÃ§Ã£o geral
#     - df_resultado_por_grupo: dicionÃ¡rio com classificaÃ§Ã£o separada por grupo
#     """
#     df_pontuacoes_times = df_pontuacoes.drop(index='Lider_Rodada', errors='ignore')
#     estatisticas = {}

#     for _, confronto in df_rodadas.iterrows():
#         rodada = confronto["Rodada"]
#         mandante = confronto["Mandante_Nome"]
#         visitante = confronto["Visitante_Nome"]
#         grupo = confronto["Grupo"]
#         coluna_rodada = f"Rodada {rodada}"

#         if mandante not in df_pontuacoes_times.index or visitante not in df_pontuacoes_times.index:
#             continue
#         if coluna_rodada not in df_pontuacoes_times.columns:
#             continue

#         pontos_mandante = df_pontuacoes_times.at[mandante, coluna_rodada]
#         pontos_visitante = df_pontuacoes_times.at[visitante, coluna_rodada]

#         if pd.isnull(pontos_mandante) or pd.isnull(pontos_visitante):
#             continue

#         for time in [mandante, visitante]:
#             if grupo not in estatisticas:
#                 estatisticas[grupo] = {}
#             if time not in estatisticas[grupo]:
#                 estatisticas[grupo][time] = {
#                     "Pontos": 0, "VitÃ³rias": 0, "Empates": 0, "Derrotas": 0,
#                     "Total_Cartola": 0, "Cartola_Sofrido": 0
#                 }

#         # Atualizar estatÃ­sticas do jogo
#         estatisticas[grupo][mandante]["Total_Cartola"] += pontos_mandante
#         estatisticas[grupo][mandante]["Cartola_Sofrido"] += pontos_visitante

#         estatisticas[grupo][visitante]["Total_Cartola"] += pontos_visitante
#         estatisticas[grupo][visitante]["Cartola_Sofrido"] += pontos_mandante

#         if pontos_mandante > pontos_visitante:
#             estatisticas[grupo][mandante]["Pontos"] += 3
#             estatisticas[grupo][mandante]["VitÃ³rias"] += 1
#             estatisticas[grupo][visitante]["Derrotas"] += 1
#         elif pontos_mandante < pontos_visitante:
#             estatisticas[grupo][visitante]["Pontos"] += 3
#             estatisticas[grupo][visitante]["VitÃ³rias"] += 1
#             estatisticas[grupo][mandante]["Derrotas"] += 1
#         else:
#             estatisticas[grupo][mandante]["Pontos"] += 1
#             estatisticas[grupo][visitante]["Pontos"] += 1
#             estatisticas[grupo][mandante]["Empates"] += 1
#             estatisticas[grupo][visitante]["Empates"] += 1

#     # Montar DataFrame final
#     df_resultado = pd.concat([
#         pd.DataFrame({
#             "Grupo": grupo,
#             "Nome do Time": list(times.keys()),
#             "Pontos": [stats["Pontos"] for stats in times.values()],
#             "VitÃ³rias": [stats["VitÃ³rias"] for stats in times.values()],
#             "Empates": [stats["Empates"] for stats in times.values()],
#             "Derrotas": [stats["Derrotas"] for stats in times.values()],
#             "Total Cartola": [stats["Total_Cartola"] for stats in times.values()],
#             "Cartola Sofrido": [stats["Cartola_Sofrido"] for stats in times.values()],
#             "Saldo Cartola": [
#             stats["Total_Cartola"] - stats["Cartola_Sofrido"] for stats in times.values()
#             ]
#         })
#         for grupo, times in estatisticas.items()
#     ], ignore_index=True)

#     df_resultado = df_resultado.sort_values(
#         by=["Grupo", "Pontos", "VitÃ³rias", "Total Cartola", "Saldo Cartola"],
#         ascending=[True, False, False, False, False]
#     )

#     df_resultado["PosiÃ§Ã£o"] = df_resultado.groupby("Grupo")\
#     .cumcount() + 1

#     df_resultado_por_grupo = {
#         grupo: df_resultado[df_resultado["Grupo"] == grupo] for grupo in df_resultado["Grupo"].unique()
#     }

#     return df_resultado, df_resultado_por_grupo

## FunÃ§Ã£o ClassificaÃ§Ã£o por Grupo

In [40]:
# def classificacao_por_grupo(df_rodadas, df_pontuacoes, total_fase1_por_time):
#     """
#     ClassificaÃ§Ã£o dos grupos com base nos confrontos e nas pontuaÃ§Ãµes do Cartola (Fase 2),
#     somando o total da Fase 1 para compor o 'Total Cartola'.

#     ParÃ¢metros:
#     - df_rodadas: DataFrame com os confrontos e grupos
#     - df_pontuacoes: DataFrame com as pontuaÃ§Ãµes por rodada (Fase 2)
#     - total_fase1_por_time: dict ou Series com total da Fase 1 por time

#     Retorna:
#     - df_resultado: classificaÃ§Ã£o geral
#     - df_resultado_por_grupo: dicionÃ¡rio com classificaÃ§Ã£o separada por grupo
#     """
#     df_pontuacoes_times = df_pontuacoes.drop(index='Lider_Rodada', errors='ignore')
#     estatisticas = {}

#     for _, confronto in df_rodadas.iterrows():
#         rodada = confronto["Rodada"]
#         mandante = confronto["Mandante_Nome"]
#         visitante = confronto["Visitante_Nome"]
#         grupo = confronto["Grupo"]
#         coluna_rodada = f"Rodada {rodada}"

#         if mandante not in df_pontuacoes_times.index or visitante not in df_pontuacoes_times.index:
#             continue
#         if coluna_rodada not in df_pontuacoes_times.columns:
#             continue

#         pontos_mandante = df_pontuacoes_times.at[mandante, coluna_rodada]
#         pontos_visitante = df_pontuacoes_times.at[visitante, coluna_rodada]

#         if pd.isnull(pontos_mandante) or pd.isnull(pontos_visitante):
#             continue

#         for time in [mandante, visitante]:
#             if grupo not in estatisticas:
#                 estatisticas[grupo] = {}
#             if time not in estatisticas[grupo]:
#                 estatisticas[grupo][time] = {
#                     "Pontos": 0, "VitÃ³rias": 0, "Empates": 0, "Derrotas": 0,
#                     "Total_Cartola": total_fase1_por_time.get(time, 0),  # soma base da Fase 1
#                     "Cartola_Sofrido": 0
#                 }

#         # Atualizar estatÃ­sticas do jogo
#         estatisticas[grupo][mandante]["Total_Cartola"] += pontos_mandante
#         estatisticas[grupo][mandante]["Cartola_Sofrido"] += pontos_visitante

#         estatisticas[grupo][visitante]["Total_Cartola"] += pontos_visitante
#         estatisticas[grupo][visitante]["Cartola_Sofrido"] += pontos_mandante

#         if pontos_mandante > pontos_visitante:
#             estatisticas[grupo][mandante]["Pontos"] += 3
#             estatisticas[grupo][mandante]["VitÃ³rias"] += 1
#             estatisticas[grupo][visitante]["Derrotas"] += 1
#         elif pontos_mandante < pontos_visitante:
#             estatisticas[grupo][visitante]["Pontos"] += 3
#             estatisticas[grupo][visitante]["VitÃ³rias"] += 1
#             estatisticas[grupo][mandante]["Derrotas"] += 1
#         else:
#             estatisticas[grupo][mandante]["Pontos"] += 1
#             estatisticas[grupo][visitante]["Pontos"] += 1
#             estatisticas[grupo][mandante]["Empates"] += 1
#             estatisticas[grupo][visitante]["Empates"] += 1

#     df_resultado = pd.concat([
#         pd.DataFrame({
#             "Grupo": grupo,
#             "Nome do Time": list(times.keys()),
#             "Pontos": [stats["Pontos"] for stats in times.values()],
#             "VitÃ³rias": [stats["VitÃ³rias"] for stats in times.values()],
#             "Empates": [stats["Empates"] for stats in times.values()],
#             "Derrotas": [stats["Derrotas"] for stats in times.values()],
#             "Total Cartola": [stats["Total_Cartola"] for stats in times.values()],
#             "Cartola Sofrido": [stats["Cartola_Sofrido"] for stats in times.values()],
#             "Saldo Cartola": [
#                 stats["Total_Cartola"] - stats["Cartola_Sofrido"] for stats in times.values()
#             ]
#         }) for grupo, times in estatisticas.items()
#     ], ignore_index=True)

#     df_resultado = df_resultado.sort_values(
#         by=["Grupo", "Pontos", "VitÃ³rias", "Total Cartola", "Saldo Cartola"],
#         ascending=[True, False, False, False, False]
#     )

#     df_resultado["PosiÃ§Ã£o"] = df_resultado.groupby("Grupo").cumcount() + 1

#     df_resultado_por_grupo = {
#         grupo: df_resultado[df_resultado["Grupo"] == grupo] for grupo in df_resultado["Grupo"].unique()
#     }

#     return df_resultado, df_resultado_por_grupo

In [41]:
def classificacao_por_grupo(df_rodadas, df_pontuacoes, total_fase1_por_time):
    """
    ClassificaÃ§Ã£o dos grupos com base nos confrontos e nas pontuaÃ§Ãµes do Cartola (Fase 2),
    somando o total da Fase 1 para compor o 'Total Cartola'.

    ParÃ¢metros:
    - df_rodadas: DataFrame com os confrontos e grupos
    - df_pontuacoes: DataFrame com as pontuaÃ§Ãµes por rodada (Fase 2)
    - total_fase1_por_time: dict ou Series com total da Fase 1 por time

    Retorna:
    - df_resultado: classificaÃ§Ã£o geral
    - df_resultado_por_grupo: dicionÃ¡rio com classificaÃ§Ã£o separada por grupo
    """
    df_pontuacoes_times = df_pontuacoes.drop(index='Lider_Rodada', errors='ignore')

    # ðŸš¨ Caso a Fase 2 ainda nÃ£o tenha comeÃ§ado
    if df_pontuacoes_times.empty or not any(col.startswith("Rodada") for col in df_pontuacoes_times.columns):
        grupos = df_rodadas["Grupo"].unique()
        estatisticas = {}

        for grupo in grupos:
            times = pd.unique(
                df_rodadas.loc[df_rodadas["Grupo"] == grupo, ["Mandante_Nome", "Visitante_Nome"]].values.ravel()
            )
            estatisticas[grupo] = {}
            for t in times:
                estatisticas[grupo][t] = {
                    "Pontos": 0,
                    "VitÃ³rias": 0,
                    "Empates": 0,
                    "Derrotas": 0,
                    "Total_Cartola": total_fase1_por_time.get(t, 0),
                    "Cartola_Sofrido": 0,
                }

        df_resultado = pd.concat([
            pd.DataFrame({
                "Grupo": grupo,
                "Nome do Time": list(times.keys()),
                "Pontos": [stats["Pontos"] for stats in times.values()],
                "VitÃ³rias": [stats["VitÃ³rias"] for stats in times.values()],
                "Empates": [stats["Empates"] for stats in times.values()],
                "Derrotas": [stats["Derrotas"] for stats in times.values()],
                "Total Cartola": [stats["Total_Cartola"] for stats in times.values()],
                "Cartola Sofrido": [stats["Cartola_Sofrido"] for stats in times.values()],
                "Saldo Cartola": [stats["Total_Cartola"] - stats["Cartola_Sofrido"] for stats in times.values()],
            }) for grupo, times in estatisticas.items()
        ], ignore_index=True)

    
        # Ordenar pelo Total Cartola (maior para menor) dentro de cada grupo
        df_resultado = df_resultado.sort_values(
            by=["Grupo", "Total Cartola"], ascending=[True, False]
        )

        # Recalcular posiÃ§Ã£o
        df_resultado["PosiÃ§Ã£o"] = df_resultado.groupby("Grupo").cumcount() + 1

        df_resultado_por_grupo = {
            g: df_resultado[df_resultado["Grupo"] == g].copy()
            for g in df_resultado["Grupo"].unique()
        }
        return df_resultado, df_resultado_por_grupo

    # ðŸ”¹ Caso a Fase 2 jÃ¡ tenha rodadas jogadas
    estatisticas = {}
    for _, confronto in df_rodadas.iterrows():
        rodada = confronto["Rodada"]
        mandante = confronto["Mandante_Nome"]
        visitante = confronto["Visitante_Nome"]
        grupo = confronto["Grupo"]
        coluna_rodada = f"Rodada {rodada}"

        if mandante not in df_pontuacoes_times.index or visitante not in df_pontuacoes_times.index:
            continue
        if coluna_rodada not in df_pontuacoes_times.columns:
            continue

        pontos_mandante = df_pontuacoes_times.at[mandante, coluna_rodada]
        pontos_visitante = df_pontuacoes_times.at[visitante, coluna_rodada]

        if pd.isnull(pontos_mandante) or pd.isnull(pontos_visitante):
            continue

        for time in [mandante, visitante]:
            if grupo not in estatisticas:
                estatisticas[grupo] = {}
            if time not in estatisticas[grupo]:
                estatisticas[grupo][time] = {
                    "Pontos": 0, "VitÃ³rias": 0, "Empates": 0, "Derrotas": 0,
                    "Total_Cartola": total_fase1_por_time.get(time, 0),
                    "Cartola_Sofrido": 0
                }

        # Atualizar estatÃ­sticas do jogo
        estatisticas[grupo][mandante]["Total_Cartola"] += pontos_mandante
        estatisticas[grupo][mandante]["Cartola_Sofrido"] += pontos_visitante

        estatisticas[grupo][visitante]["Total_Cartola"] += pontos_visitante
        estatisticas[grupo][visitante]["Cartola_Sofrido"] += pontos_mandante

        if pontos_mandante > pontos_visitante:
            estatisticas[grupo][mandante]["Pontos"] += 3
            estatisticas[grupo][mandante]["VitÃ³rias"] += 1
            estatisticas[grupo][visitante]["Derrotas"] += 1
        elif pontos_mandante < pontos_visitante:
            estatisticas[grupo][visitante]["Pontos"] += 3
            estatisticas[grupo][visitante]["VitÃ³rias"] += 1
            estatisticas[grupo][mandante]["Derrotas"] += 1
        else:
            estatisticas[grupo][mandante]["Pontos"] += 1
            estatisticas[grupo][visitante]["Pontos"] += 1
            estatisticas[grupo][mandante]["Empates"] += 1
            estatisticas[grupo][visitante]["Empates"] += 1

    df_resultado = pd.concat([
        pd.DataFrame({
            "Grupo": grupo,
            "Nome do Time": list(times.keys()),
            "Pontos": [stats["Pontos"] for stats in times.values()],
            "VitÃ³rias": [stats["VitÃ³rias"] for stats in times.values()],
            "Empates": [stats["Empates"] for stats in times.values()],
            "Derrotas": [stats["Derrotas"] for stats in times.values()],
            "Total Cartola": [stats["Total_Cartola"] for stats in times.values()],
            "Cartola Sofrido": [stats["Cartola_Sofrido"] for stats in times.values()],
            "Saldo Cartola": [
                stats["Total_Cartola"] - stats["Cartola_Sofrido"] for stats in times.values()
            ]
        }) for grupo, times in estatisticas.items()
    ], ignore_index=True)

    df_resultado = df_resultado.sort_values(
        by=["Grupo", "Pontos", "VitÃ³rias", "Total Cartola", "Saldo Cartola"],
        ascending=[True, False, False, False, False]
    )

    df_resultado["PosiÃ§Ã£o"] = df_resultado.groupby("Grupo").cumcount() + 1

    df_resultado_por_grupo = {
        grupo: df_resultado[df_resultado["Grupo"] == grupo] for grupo in df_resultado["Grupo"].unique()
    }

    return df_resultado, df_resultado_por_grupo

In [42]:
df_fase1 = pd.read_excel("classificacao_por_grupo_fase_1.xlsx", sheet_name=None)
df_total_fase1 = pd.concat(df_fase1.values())
total_fase1_por_time = df_total_fase1.set_index("Nome do Time")["Total Cartola"].to_dict()

In [43]:
# Gerar a classificaÃ§Ã£o da fase 2
# df_resultado, df_resultado_por_grupo = classificacao_por_grupo(df_rodadas, df_pontuacoes)
df_resultado, df_resultado_por_grupo = classificacao_por_grupo(df_rodadas, df_pontuacoes, total_fase1_por_time)


# Salvar cada grupo em uma aba do Excel
with pd.ExcelWriter("classificacao_por_grupo_fase_2.xlsx") as writer:
    for grupo, df in df_resultado_por_grupo.items():
        df.to_excel(writer, sheet_name=grupo, index=False)

# Exibir a classificaÃ§Ã£o geral
df_resultado_grupo_I = df_resultado[df_resultado["Grupo"] == "Grupo I"]
df_resultado_grupo_J = df_resultado[df_resultado["Grupo"] == "Grupo J"]
df_resultado_grupo_K = df_resultado[df_resultado["Grupo"] == "Grupo K"]
df_resultado_grupo_L = df_resultado[df_resultado["Grupo"] == "Grupo L"]

display(df_resultado_grupo_I, df_resultado_grupo_J, df_resultado_grupo_K, df_resultado_grupo_L)

,Grupo,Nome do Time,Pontos,VitÃ³rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,PosiÃ§Ã£o
3,Grupo I,cartola scheuer,12,4,0,2,1144.20,552.24,591.96,1
2,Grupo I,Pity10,12,4,0,2,1058.94,540.71,518.23,2
1,Grupo I,lsauer fc,6,2,0,4,1100.96,557.70,543.26,3
0,Grupo I,seralex,6,2,0,4,1090.70,562.84,527.86,4

,Grupo,Nome do Time,Pontos,VitÃ³rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,PosiÃ§Ã£o
6,Grupo J,pura bucha /botafogo,15,5,0,1,1133.63,515.52,618.11,1
5,Grupo J,Fedato Futebol Clube,12,4,0,2,1106.20,537.02,569.18,2
4,Grupo J,MauHumor F.C.,6,2,0,4,1085.65,591.59,494.06,3
7,Grupo J,Paulo Virgili FC,3,1,0,5,1036.27,525.31,510.96,4

,Grupo,Nome do Time,Pontos,VitÃ³rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,PosiÃ§Ã£o
11,Grupo K,RHANKA DENTY FC25,12,4,0,2,1157.20,522.25,634.95,1
8,Grupo K,Texas Club 2025,12,4,0,2,1133.30,475.96,657.34,2
10,Grupo K,Tatols Beants F.C,6,2,0,4,1078.47,554.99,523.48,3
9,Grupo K,Real SCI,6,2,0,4,1046.23,614.41,431.82,4

,Grupo,Nome do Time,Pontos,VitÃ³rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,PosiÃ§Ã£o
13,Grupo L,Laranjja Mecannica,15,5,0,1,1163.91,554.89,609.02,1
15,Grupo L,teves_futsal20 f.c,9,3,0,3,1116.99,602.16,514.83,2
14,Grupo L,A Lenda Super Vasco F.c,7,2,1,3,1135.50,532.75,602.75,3
12,Grupo L,FC Los Castilho,4,1,1,4,1164.48,605.67,558.81,4

In [44]:
# # Criar estrutura em formato de dicionÃ¡rio para JSON/JS
# classificacao_js_fase_2 = {}

# for grupo, df in df_resultado_por_grupo.items():
#     classificacao_js_fase_2[grupo] = []
#     for _, row in df.iterrows():
#         classificacao_js_fase_2[grupo].append({
#             "posicao": int(row["PosiÃ§Ã£o"]),
#             "nome": row["Nome do Time"],
#             "pontos": int(row["Pontos"]),
#             "vitorias": int(row["VitÃ³rias"]),
#             "empates": int(row["Empates"]),
#             "derrotas": int(row["Derrotas"]),
#             "totalCartola": float(row["Total Cartola"]),
#             "cartolaSofrido": float(row["Cartola Sofrido"]),
#             "saldoCartola": float(row["Saldo Cartola"])
#         })


# # Converter para JSON formatado
# json_str = json.dumps(classificacao_js_fase_2, indent=2, ensure_ascii=False)

# # Salvar como arquivo JS com uma variÃ¡vel global
# with open("classificacao_por_grupo_fase_2.js", "w", encoding="utf-8") as f:
#     f.write("const classificacaoFase2 = ")
#     f.write(json_str)
#     f.write(";")



# Verifica se a variÃ¡vel df_resultado_por_grupo existe e estÃ¡ populada
if 'df_resultado_por_grupo' in locals() and df_resultado_por_grupo:
    # Criar estrutura em formato de dicionÃ¡rio para JSON/JS
    classificacao_js_fase_2 = {}

    for grupo, df in df_resultado_por_grupo.items():
        classificacao_js_fase_2[grupo] = []
        for _, row in df.iterrows():
            classificacao_js_fase_2[grupo].append({
                "posicao": int(row["PosiÃ§Ã£o"]),
                "nome": row["Nome do Time"],
                "pontos": int(row["Pontos"]),
                "vitorias": int(row["VitÃ³rias"]),
                "empates": int(row["Empates"]),
                "derrotas": int(row["Derrotas"]),
                "totalCartola": float(row["Total Cartola"]),
                "cartolaSofrido": float(row["Cartola Sofrido"]),
                "saldoCartola": float(row["Saldo Cartola"])
            })

    # Converter para JSON formatado
    json_str = json.dumps(classificacao_js_fase_2, indent=2, ensure_ascii=False)

    # Salvar como arquivo JS com uma variÃ¡vel global
    with open("classificacao_por_grupo_fase_2.js", "w", encoding="utf-8") as f:
        f.write("const classificacaoFase2 = ")
        f.write(json_str)
        f.write(";")

    print("âœ… Arquivo JS salvo com sucesso.")

else:
    print("âš ï¸ ClassificaÃ§Ã£o da fase 2 indisponÃ­vel. O mercado pode estar em manutenÃ§Ã£o ou os dados ainda nÃ£o foram gerados.")

âœ… Arquivo JS salvo com sucesso.

In [45]:
def exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada, grupo=None):
    """
    Exibe os resultados de uma rodada especÃ­fica, com pontuaÃ§Ã£o e dados dos times.
    """

    if rodada not in df_rodadas["Rodada"].values:
        return pd.DataFrame([{
            "Grupo": grupo or "-",
            "Rodada": rodada,
            "Mandante_Nome": "-",          
            "Mandante_Pontos": "-",
            "Visitante_Nome": "-",           
            "Visitante_Pontos": "-",
        }])

    df_filtrado = df_rodadas[df_rodadas["Rodada"] == rodada]
    if grupo:
        df_filtrado = df_filtrado[df_filtrado["Grupo"] == grupo]

    resultados = []

    for _, row in df_filtrado.iterrows():
        grupo_ = row["Grupo"]
        mandante = row["Mandante_Nome"]
        visitante = row["Visitante_Nome"]

        pontos_mandante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(mandante, None)
        pontos_visitante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(visitante, None)

        resultados.append({
            "Grupo": grupo_,
            "Rodada": rodada,
            "Mandante_Nome": mandante,
            "Mandante_Pontos": pontos_mandante,
            "Visitante_Nome": visitante,
            "Visitante_Pontos": pontos_visitante
        })

    return pd.DataFrame(resultados)

In [46]:
# Exibir resultados da 2Âª rodada
df_resultados_rodada_7 = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=26)

# Exibir apenas os resultados do Grupo B na 1Âª rodada
df_resultados_grupo_I = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=26, grupo="Grupo I")

# Exibir
# display(df_resultados_rodada2)
display(df_resultados_rodada_7)

,Grupo,Rodada,Mandante_Nome,Mandante_Pontos,Visitante_Nome,Visitante_Pontos
0,Grupo I,26,seralex,90.92,lsauer fc,89.64
1,Grupo I,26,Pity10,91.14,cartola scheuer,96.94
2,Grupo J,26,MauHumor F.C.,87.75,Fedato Futebol Clube,97.05
3,Grupo J,26,pura bucha /botafogo,97.44,Paulo Virgili FC,87.09
4,Grupo K,26,Texas Club 2025,96.94,Real SCI,103.94
5,Grupo K,26,Tatols Beants F.C,81.44,RHANKA DENTY FC25,103.94
6,Grupo L,26,FC Los Castilho,106.14,Laranjja Mecannica,112.62
7,Grupo L,26,A Lenda Super Vasco F.c,105.94,teves_futsal20 f.c,90.14

In [47]:
# Criar arquivo com uma aba para cada rodada contendo os resultados detalhados
from pathlib import Path

# Caminho do arquivo de saÃ­da
caminho_resultados = "resultados_fase_2.xlsx"

# Descobrir as rodadas Ãºnicas no DataFrame
rodadas_disponiveis = sorted(df_rodadas["Rodada"].unique())

with pd.ExcelWriter(caminho_resultados) as writer:
    for rodada in rodadas_disponiveis:
        df_resultados = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=rodada)
        nome_aba = f"Rodada {rodada}"
        df_resultados.to_excel(writer, sheet_name=nome_aba, index=False)

print(f"Arquivo salvo com sucesso: {Path(caminho_resultados).resolve()}")

Arquivo salvo com sucesso: C:\Users\ferna\Projetos\GitHub\cartola_fbc_2_turno\libertadores\datasets_liberta\resultados_fase_2.xlsx

In [48]:
resultados_js = []

for rodada in sorted(df_rodadas["Rodada"].unique()):
    df_resultados = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=rodada)
    
    for _, row in df_resultados.iterrows():
        resultado = {
            "grupo": row["Grupo"],
            "rodada": int(rodada),
            "mandante": {
                "nome": row["Mandante_Nome"],
                "pontos": float(row["Mandante_Pontos"]) if row["Mandante_Pontos"] is not None else None
            },
            "visitante": {
                "nome": row["Visitante_Nome"],
                "pontos": float(row["Visitante_Pontos"]) if row["Visitante_Pontos"] is not None else None
            },
            "vencedor": (
                "mandante" if row["Mandante_Pontos"] is not None and row["Visitante_Pontos"] is not None and row["Mandante_Pontos"] > row["Visitante_Pontos"]
                else "visitante" if row["Mandante_Pontos"] is not None and row["Visitante_Pontos"] is not None and row["Mandante_Pontos"] < row["Visitante_Pontos"]
                else "empate" if row["Mandante_Pontos"] == row["Visitante_Pontos"] and row["Mandante_Pontos"] is not None
                else "indefinido"
            )

        }
        resultados_js.append(resultado)

# Exportar para arquivo .js
import json

with open("resultados_fase_2.js", "w", encoding="utf-8") as f:
    f.write("const resultadosFase2 = ")
    f.write(json.dumps(resultados_js, indent=2, ensure_ascii=False))
    f.write(";
")

# Exporta meta de parcial (usada no front)
try:
    rodada_ref = int(rod_ref)
except Exception:
    rodada_ref = 0

parcial_payload = {"rodada": rodada_ref, "times": {}}
try:
    col_parcial = f"Rodada {rodada_ref}"
    if col_parcial in df_pontuacoes.columns:
        times_map = {}
        for nome in df_pontuacoes.index:
            if nome not in ids_times:
                continue
            try:
                val = df_pontuacoes.at[nome, col_parcial]
            except Exception:
                continue
            if str(val) in ("", "nan"):
                continue
            try:
                times_map[str(ids_times[nome])] = float(val)
            except Exception:
                continue
        parcial_payload["times"] = times_map
except Exception:
    pass

try:
    status_http_val = int(status_http)
except Exception:
    status_http_val = None

liberta_meta = {
    "rodada_atual": rodada_ref,
    "parcial_disponivel": (status_http_val == 2)
}

with open("resultados_fase_2.js", "a", encoding="utf-8") as f:
    f.write("
const pontuacaoParcialRodadaAtual = ")
    f.write(json.dumps(parcial_payload, indent=2, ensure_ascii=False))
    f.write(";
")
    f.write("window.libertaMeta = ")
    f.write(json.dumps(liberta_meta, indent=2, ensure_ascii=False))
    f.write(";
")