### FASE 3 da Libertadores - Quartas de Final

In [1]:
import cartolafc
import pandas as pd
from difflib import get_close_matches
import json

pd.set_option('display.max_columns', 50)            # permite a visualizaÃ§Ã£o de 50 colunas do dataframe
pd.options.display.float_format = '{:.2f}'.format   # pandas: para todos os nÃºmeros aparecerem com duas casas decimais

# Cria uma instÃ¢ncia da API
api = cartolafc.Api(attempts=5)

2025-11-10 12:06:57,189 - numexpr.utils - INFO - NumExpr defaulting to 8 threads.

ðŸ† 4Âªs DE FINAL:

âš½(JG1) 1Â° X 8Â°
âš½(JG2) 2Â° X 7Â°
âš½(JG3) 3Â° X 6Â°
âš½(JG4) 4Â° X 5Â°

cartola scheuer	3851966
Pity10	48498051
lsauer fc	44810918
seralex	29228373

pura bucha /botafogo	18661583
Fedato Futebol Clube	18642587
MauHumor F.C.	25751748
Paulo Virgili FC	14124559

RHANKA DENTY FC25	29411306
Texas Club 2025	1273719
Tatols Beants F.C	212042
Real SCI	3246608

Laranjja Mecannica	18344271
teves_futsal20 f.c	335716
A Lenda Super Vasco F.c	117598
FC Los Castilho	25311459

1163,91 - Laranjja Mecannica	18344271
1157,20 - RHANKA DENTY FC25	29411306

1144,20 - cartola scheuer	3851966
1133,63 - pura bucha /botafogo	18661583

1133,30 - Texas Club 2025	1273719
1116,99 - teves_futsal20 f.c	335716

1106,20 - Fedato Futebol Clube	18642587
1058,94 - Pity10	48498051

### DicionÃ¡rio com os IDs e Nomes dos times.

In [2]:
# DicionÃ¡rio com ID -> Nome do time (gerado anteriormente)
nomes_por_id = {
    18344271: 'Laranjja Mecannica',
    29411306: 'RHANKA DENTY FC25',

    3851966: 'cartola scheuer',
    18661583: 'pura bucha /botafogo',

    1273719: 'Texas Club 2025',
    335716: 'teves_futsal20 f.c',

    18642587: 'Fedato Futebol Clube',
    48498051: 'Pity10'    
}

In [3]:
# Lista com todos os dados que vocÃª passou
dados_torneio_quartas = [
    # Jogo 1 (JG1)
    ("Jogo 1 (JG1)", 18344271),    
    ("Jogo 1 (JG1)", 48498051), 

    # Jogo 2 (JG2)
    ("Jogo 2 (JG2)", 29411306),
    ("Jogo 2 (JG2)", 18642587),

    # Jogo 3 (JG3)
    ("Jogo 3 (JG3)", 3851966),
    ("Jogo 3 (JG3)", 335716),

    # Jogo 4 (JG4)
    ("Jogo 4 (JG4)", 18661583),
    ("Jogo 4 (JG4)", 1273719),
]

# Criar DataFrame base
df_torneio_quartas = pd.DataFrame(dados_torneio_quartas, columns=["Jogo", "ID do Time"])

# Adicionar Nome do Time usando o dicionÃ¡rio
df_torneio_quartas["Nome do Time"] = df_torneio_quartas["ID do Time"].map(nomes_por_id)

# Adicionar ID no Grupo
df_torneio_quartas["ID no Grupo"] = df_torneio_quartas.groupby("Jogo").cumcount() + 1
df_torneio_quartas["ID no Grupo"] = df_torneio_quartas["ID no Grupo"].astype(str) + "_" + df_torneio_quartas["Jogo"].str[-2]

# Reorganizar colunas
df_torneio_quartas_liberta = df_torneio_quartas[["Jogo", "ID do Time", "Nome do Time", "ID no Grupo"]]

df_liberta_jogo_1 = df_torneio_quartas_liberta[df_torneio_quartas_liberta["Jogo"] == "Jogo 1 (JG1)"]
df_liberta_jogo_2 = df_torneio_quartas_liberta[df_torneio_quartas_liberta["Jogo"] == "Jogo 2 (JG2)"]
df_liberta_jogo_3 = df_torneio_quartas_liberta[df_torneio_quartas_liberta["Jogo"] == "Jogo 3 (JG3)"]
df_liberta_jogo_4 = df_torneio_quartas_liberta[df_torneio_quartas_liberta["Jogo"] == "Jogo 4 (JG4)"]

# Lista de grupos
grupos = {
    "Jogo 1 (JG1)": df_liberta_jogo_1,
    "Jogo 2 (JG2)": df_liberta_jogo_2,
    "Jogo 3 (JG3)": df_liberta_jogo_3,
    "Jogo 4 (JG4)": df_liberta_jogo_4,
}

display(df_liberta_jogo_1)

           Jogo  ID do Time        Nome do Time ID no Grupo
0  Jogo 1 (JG1)    18344271  Laranjja Mecannica         1_1
1  Jogo 1 (JG1)    48498051              Pity10         2_1

### DefiniÃ§Ã£o dos Confrontos das 2 Rodadas da Fase 3 da Libertadores (Rodada 13 A 14)

In [4]:
# Rodada 1 - Fase 3 Libertadores (Equivalente a 32Âº Rodada do Campeonato Brasileiro) 
confrontos_1a_rodada = [
    # Jogo 1 (JG1)
    ("Jogo 1 (JG1)", "1_1", "2_1"),    

    # Jogo 2 (JG2)
    ("Jogo 2 (JG2)", "1_2", "2_2"),    

    # Jogo 3 (JG3)
    ("Jogo 3 (JG3)", "1_3", "2_3"),   

    # Jogo 4 (JG4)
    ("Jogo 4 (JG4)", "1_4", "2_4")    
]

# Rodada 2 - Fase 3 Libertadores (Equivalente a 33Âº Rodada do Campeonato Brasileiro)
confrontos_2a_rodada = [
    # Jogo 1 (JG1)
    ("Jogo 1 (JG1)", "2_1", "1_1"),
    
    # Jogo 2 (JG2)
    ("Jogo 2 (JG2)", "2_2", "1_2"),    

    # Jogo 3 (JG3)
    ("Jogo 3 (JG3)", "2_3", "1_3"),

    # Jogo 4 (JG4)
    ("Jogo 4 (JG4)", "2_4", "1_4")  
]

In [5]:
# Transformar em DataFrame
df_confrontos = pd.DataFrame(confrontos_1a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])

# Junta com df_torneio para buscar dados dos mandantes
df_mandantes = df_torneio_quartas_liberta.rename(columns={
    "ID no Grupo": "Mandante_ID",
    "Nome do Time": "Mandante_Nome",
    "ID do Time": "Mandante_ID_Time"
})[["Jogo", "Mandante_ID", "Mandante_Nome", "Mandante_ID_Time"]]

# Junta com df_torneio para buscar dados dos visitantes
df_visitantes = df_torneio_quartas_liberta.rename(columns={
    "ID no Grupo": "Visitante_ID",
    "Nome do Time": "Visitante_Nome",
    "ID do Time": "Visitante_ID_Time"    
})[["Jogo", "Visitante_ID", "Visitante_Nome", "Visitante_ID_Time"]]

display(df_confrontos)

          Grupo Mandante_ID Visitante_ID
0  Jogo 1 (JG1)         1_1          2_1
1  Jogo 2 (JG2)         1_2          2_2
2  Jogo 3 (JG3)         1_3          2_3
3  Jogo 4 (JG4)         1_4          2_4

In [6]:
# Transformar em DataFrame
df_confrontos = pd.DataFrame(confrontos_1a_rodada, columns=["Jogo", "Mandante_ID", "Visitante_ID"])
df_confrontos["Rodada"] = 32
df_rodada_32 = df_confrontos.merge(df_mandantes, on=["Jogo", "Mandante_ID"])
df_rodada_32 = df_rodada_32.merge(df_visitantes, on=["Jogo", "Visitante_ID"])

# Transformar em DataFrame
df_confrontos_2 = pd.DataFrame(confrontos_2a_rodada, columns=["Jogo", "Mandante_ID", "Visitante_ID"])
df_confrontos_2["Rodada"] = 33
df_rodada_33 = df_confrontos_2.merge(df_mandantes, on=["Jogo", "Mandante_ID"])
df_rodada_33 = df_rodada_33.merge(df_visitantes, on=["Jogo", "Visitante_ID"])

display(df_rodada_32)

,Jogo,Mandante_ID,Visitante_ID,Rodada,Mandante_Nome,Mandante_ID_Time,Visitante_Nome,Visitante_ID_Time
0,Jogo 1 (JG1),1_1,2_1,32,Laranjja Mecannica,18344271,Pity10,48498051
1,Jogo 2 (JG2),1_2,2_2,32,RHANKA DENTY FC25,29411306,Fedato Futebol Clube,18642587
2,Jogo 3 (JG3),1_3,2_3,32,cartola scheuer,3851966,teves_futsal20 f.c,335716
3,Jogo 4 (JG4),1_4,2_4,32,pura bucha /botafogo,18661583,Texas Club 2025,1273719

In [7]:
df_rodadas = pd.concat([
    df_rodada_32,
    df_rodada_33
], ignore_index=True)

# Ajustar a numeraÃ§Ã£o da rodada para refletir as rodadas do Cartola (Rodada 32 atÃ© 33)
df_rodadas["Rodada"] = df_rodadas["Rodada"]

df_rodadas.to_excel("confrontos_fase_3_libertadores.xlsx", index=False)

# Exibir os confrontos da fase 3 (Quartas de Final)
display(df_rodadas.head(8))

,Jogo,Mandante_ID,Visitante_ID,Rodada,Mandante_Nome,Mandante_ID_Time,Visitante_Nome,Visitante_ID_Time
0,Jogo 1 (JG1),1_1,2_1,32,Laranjja Mecannica,18344271,Pity10,48498051
1,Jogo 2 (JG2),1_2,2_2,32,RHANKA DENTY FC25,29411306,Fedato Futebol Clube,18642587
2,Jogo 3 (JG3),1_3,2_3,32,cartola scheuer,3851966,teves_futsal20 f.c,335716
3,Jogo 4 (JG4),1_4,2_4,32,pura bucha /botafogo,18661583,Texas Club 2025,1273719
4,Jogo 1 (JG1),2_1,1_1,33,Pity10,48498051,Laranjja Mecannica,18344271
5,Jogo 2 (JG2),2_2,1_2,33,Fedato Futebol Clube,18642587,RHANKA DENTY FC25,29411306
6,Jogo 3 (JG3),2_3,1_3,33,teves_futsal20 f.c,335716,cartola scheuer,3851966
7,Jogo 4 (JG4),2_4,1_4,33,Texas Club 2025,1273719,pura bucha /botafogo,18661583

In [8]:
# Criar lista de dicionÃ¡rios no formato desejado
confrontos_js_fase_3 = []

for _, row in df_rodadas.iterrows():
    confronto = {
        "jogo": row["Jogo"],
        "rodada": int(row["Rodada"]),
        "mandante": {
            "id": int(row["Mandante_ID_Time"]),
            "nome": row["Mandante_Nome"]
        },
        "visitante": {
            "id": int(row["Visitante_ID_Time"]),
            "nome": row["Visitante_Nome"]        }
    }
    confrontos_js_fase_3.append(confronto)

# Converter para JSON formatado
json_str = json.dumps(confrontos_js_fase_3, indent=2, ensure_ascii=False)

# Salvar como arquivo JS com uma variÃ¡vel global
with open("confrontos_fase3_libertadores.js", "w", encoding="utf-8") as f:
    f.write("const confrontosFase3 = ")
    f.write(json_str)
    f.write(";")

In [9]:
def exibir_confrontos(df_rodadas, rodada=None, jogo=None):
    """
    Filtra e exibe os confrontos por rodada e/ou jogo.
    
    ParÃ¢metros:
    - df_rodadas: DataFrame com todos os confrontos
    - rodada: nÃºmero da rodada (int ou None para todas)
    - jogo: nome do jogo (str ou None para todos)
    
    Retorna:
    - DataFrame filtrado com as colunas relevantes
    """
    colunas = ["Rodada", "Jogo", "Mandante_Nome", "Visitante_Nome"]
    df_filtrado = df_rodadas.copy()

    df_filtrado["Rodada"] = df_filtrado["Rodada"].astype(str) + "Âª Rodada"    

    if rodada is not None:
        df_filtrado = df_filtrado[df_filtrado["Rodada"] == rodada]

    if jogo is not None:
        df_filtrado = df_filtrado[df_filtrado["Jogo"] == jogo]

    return df_filtrado[colunas].sort_values(by=["Jogo", "Rodada"])

In [10]:
jogo = 2

# Exibir todos os confrontos do Jogo  
display(exibir_confrontos(df_rodadas, jogo= f"Jogo {jogo} (JG{jogo})"))

       Rodada          Jogo         Mandante_Nome        Visitante_Nome
1  32Âª Rodada  Jogo 2 (JG2)     RHANKA DENTY FC25  Fedato Futebol Clube
5  33Âª Rodada  Jogo 2 (JG2)  Fedato Futebol Clube     RHANKA DENTY FC25

In [11]:
# def campeonato_comecou(api, ids_times):
#     """Verifica se o campeonato jÃ¡ comeÃ§ou observando a pontuaÃ§Ã£o na 1Âª rodada."""
#     for time_id in ids_times.values():
#         try:
#             pontuacao = api.time(time_id=time_id, rodada=32).ultima_pontuacao
#             if pontuacao is not None:
#                 return True
#         except cartolafc.errors.CartolaFCError:
#             continue
#     return False

# def obter_pontuacao_por_rodada(api, time_id, rodada_atual):
#     """ObtÃ©m a pontuaÃ§Ã£o do time em cada rodada atÃ© a rodada atual."""
#     pontuacoes = {}
#     for rodada in range(32, rodada_atual):
#         try:
#             time_rodada = api.time(time_id=time_id, rodada=rodada)
#             pontuacoes[rodada] = time_rodada.ultima_pontuacao
#         except cartolafc.errors.CartolaFCError as e:
#             print(f"Erro ao acessar pontuaÃ§Ã£o da rodada {rodada} para o time {time_id}: {e}")
#             pontuacoes[rodada] = None
#     return pontuacoes


# def gerar_df_pontuacoes(api, ids_times):
#     rodada_atual = api.mercado().rodada_atual
#     total_rodadas = 2    

#     if not campeonato_comecou(api, ids_times):
#         print("ðŸ“Œ O campeonato ainda nÃ£o comeÃ§ou. Criando estrutura com placeholders.")
#         df = pd.DataFrame(index=ids_times.keys(), columns=[f'Rodada {i}' for i in range(32, total_rodadas + 1)])
#         df[:] = 0
#     else:
#         df = pd.DataFrame()
#         for nome, time_id in ids_times.items():
#             pontuacoes = obter_pontuacao_por_rodada(api, time_id, rodada_atual)
#             df[nome] = pd.Series(pontuacoes)
#         df = df.transpose()
#         df.columns = [f'Rodada {i}' for i in range(32, rodada_atual)]
#         df.loc['Lider_Rodada'] = df.idxmax()
    
#     return df

In [12]:
def campeonato_comecou(api, ids_times):
    """Verifica se o campeonato jÃ¡ comeÃ§ou observando a pontuaÃ§Ã£o na 1Âª rodada."""
    for time_id in ids_times.values():
        try:
            pontuacao = api.time(time_id=time_id, rodada=32).ultima_pontuacao
            if pontuacao is not None:
                return True
        except Exception:
            continue
    return False


def obter_pontuacao_por_rodada(api, time_id, rodada_atual):
    """ObtÃ©m a pontuaÃ§Ã£o do time em cada rodada atÃ© a rodada atual."""
    pontuacoes = {}
    for rodada in range(32, rodada_atual):
        try:
            time_rodada = api.time(time_id=time_id, rodada=rodada)
            pontuacoes[rodada] = time_rodada.ultima_pontuacao
        except Exception as e:
            print(f"Erro ao acessar pontuaÃ§Ã£o da rodada {rodada} para o time {time_id}: {e}")
            pontuacoes[rodada] = None
    return pontuacoes


def gerar_df_pontuacoes(api, ids_times):
    """Gera DataFrame de pontuaÃ§Ãµes com fallback seguro caso o campeonato ainda nÃ£o tenha comeÃ§ado."""
    rodada_atual = api.mercado().rodada_atual
    total_rodadas = 2  # quartas = rodadas 32 e 33

    # ðŸŸ¡ Caso o campeonato ainda nÃ£o tenha comeÃ§ado:
    if not campeonato_comecou(api, ids_times):
        print("ðŸ“Œ O campeonato ainda nÃ£o comeÃ§ou. Criando estrutura com placeholders.")
        colunas = [f"Rodada {i}" for i in range(32, 32 + total_rodadas)]
        df = pd.DataFrame(0, index=ids_times.keys(), columns=colunas)
        df.loc["Lider_Rodada"] = None
        return df

    # ðŸŸ¢ Campeonato comeÃ§ou: buscar pontuaÃ§Ãµes reais
    df = pd.DataFrame()
    for nome, time_id in ids_times.items():
        pontuacoes = obter_pontuacao_por_rodada(api, time_id, rodada_atual)
        if pontuacoes:  # evita adicionar colunas vazias
            df[nome] = pd.Series(pontuacoes)

    if df.empty or df.shape[1] == 0:
        print("âš ï¸ Nenhuma pontuaÃ§Ã£o disponÃ­vel ainda. Retornando placeholders.")
        colunas = [f"Rodada {i}" for i in range(32, 32 + total_rodadas)]
        df = pd.DataFrame(0, index=ids_times.keys(), columns=colunas)
        df.loc["Lider_Rodada"] = None
        return df

    # Ajuste final de formato
    df = df.transpose()
    df.columns = [f"Rodada {i}" for i in range(32, rodada_atual)]

    # SÃ³ calcula lÃ­der se houver colunas numÃ©ricas vÃ¡lidas
    if df.shape[1] > 0:
        df.loc["Lider_Rodada"] = df.idxmax()
    else:
        df.loc["Lider_Rodada"] = None

    return df

In [13]:
ids_times = {v: k for k, v in nomes_por_id.items()}

df_pontuacoes = gerar_df_pontuacoes(api, ids_times)
display(df_pontuacoes.T)

,Laranjja Mecannica,RHANKA DENTY FC25,cartola scheuer,pura bucha /botafogo,Texas Club 2025,teves_futsal20 f.c,Fedato Futebol Clube,Pity10,Lider_Rodada
Rodada 32,97.24,109.14,114.94,89.54,114.94,116.84,47.62,105.94,teves_futsal20 f.c
Rodada 33,111.22,67.72,76.62,63.99,76.62,70.92,68.77,65.72,Laranjja Mecannica

In [14]:
# def classificacao_por_grupo(df_rodadas, df_pontuacoes):

#     df_pontuacoes_times = df_pontuacoes.drop(index='Lider_Rodada', errors='ignore')
#     estatisticas = {}

#     for _, confronto in df_rodadas.iterrows():
#         rodada = confronto["Rodada"]
#         mandante = confronto["Mandante_Nome"]
#         visitante = confronto["Visitante_Nome"]
#         jogo = confronto["Jogo"]
#         coluna_rodada = f"Rodada {rodada}"

#         if mandante not in df_pontuacoes_times.index or visitante not in df_pontuacoes_times.index:
#             continue
#         if coluna_rodada not in df_pontuacoes_times.columns:
#             continue

#         pontos_mandante = df_pontuacoes_times.at[mandante, coluna_rodada]
#         pontos_visitante = df_pontuacoes_times.at[visitante, coluna_rodada]

#         # Ignorar confrontos ainda nÃ£o disputados (com pontuaÃ§Ã£o 0 ou ausente)
#         if (
#             pd.isnull(pontos_mandante) or pd.isnull(pontos_visitante) or
#             (pontos_mandante == 0 and pontos_visitante == 0)
#         ):
#             continue

#         for time in [mandante, visitante]:
#             if jogo not in estatisticas:
#                 estatisticas[jogo] = {}
#             if time not in estatisticas[jogo]:
#                 estatisticas[jogo][time] = {
#                     "Pontos": 0, "VitÃ³rias": 0, "Empates": 0, "Derrotas": 0,
#                     "Total_Cartola": 0,
#                     "Cartola_Sofrido": 0
#                 }

#         # Atualizar estatÃ­sticas do jogo
#         estatisticas[jogo][mandante]["Total_Cartola"] += pontos_mandante
#         estatisticas[jogo][mandante]["Cartola_Sofrido"] += pontos_visitante

#         estatisticas[jogo][visitante]["Total_Cartola"] += pontos_visitante
#         estatisticas[jogo][visitante]["Cartola_Sofrido"] += pontos_mandante

#         if pontos_mandante > pontos_visitante:
#             estatisticas[jogo][mandante]["Pontos"] += 3
#             estatisticas[jogo][mandante]["VitÃ³rias"] += 1
#             estatisticas[jogo][visitante]["Derrotas"] += 1
#         elif pontos_mandante < pontos_visitante:
#             estatisticas[jogo][visitante]["Pontos"] += 3
#             estatisticas[jogo][visitante]["VitÃ³rias"] += 1
#             estatisticas[jogo][mandante]["Derrotas"] += 1
#         else:
#             estatisticas[jogo][mandante]["Pontos"] += 1
#             estatisticas[jogo][visitante]["Pontos"] += 1
#             estatisticas[jogo][mandante]["Empates"] += 1
#             estatisticas[jogo][visitante]["Empates"] += 1

#     # Gerar DataFrame final
#     df_resultado = pd.concat([
#         pd.DataFrame({
#             "Jogo": jogo,
#             "Nome do Time": list(times.keys()),
#             "Pontos": [stats["Pontos"] for stats in times.values()],
#             "VitÃ³rias": [stats["VitÃ³rias"] for stats in times.values()],
#             "Empates": [stats["Empates"] for stats in times.values()],
#             "Derrotas": [stats["Derrotas"] for stats in times.values()],
#             "Total Cartola": [stats["Total_Cartola"] for stats in times.values()],
#             "Cartola Sofrido": [stats["Cartola_Sofrido"] for stats in times.values()],
#             "Saldo Cartola": [
#                 stats["Total_Cartola"] - stats["Cartola_Sofrido"] for stats in times.values()
#             ]
#         }) for jogo, times in estatisticas.items()
#     ], ignore_index=True)

#     # Ordenar e adicionar posiÃ§Ã£o
#     df_resultado = df_resultado.sort_values(
#         by=["Jogo", "Pontos", "VitÃ³rias", "Total Cartola", "Saldo Cartola"],
#         ascending=[True, False, False, False, False]
#     )

#     df_resultado["PosiÃ§Ã£o"] = df_resultado.groupby("Jogo").cumcount() + 1

#     df_resultado_por_jogo = {
#         jogo: df_resultado[df_resultado["Jogo"] == jogo] for jogo in df_resultado["Jogo"].unique()
#     }

#     return df_resultado, df_resultado_por_jogo

In [15]:
def classificacao_por_grupo(df_rodadas, df_pontuacoes):
    """Gera classificaÃ§Ã£o por grupo (ou jogo), exibindo times mesmo com pontuaÃ§Ãµes zeradas."""
    df_pontuacoes_times = df_pontuacoes.drop(index='Lider_Rodada', errors='ignore')
    estatisticas = {}

    for _, confronto in df_rodadas.iterrows():
        rodada = confronto.get("Rodada")
        mandante = confronto.get("Mandante_Nome")
        visitante = confronto.get("Visitante_Nome")
        jogo = confronto.get("Jogo")
        coluna_rodada = f"Rodada {rodada}"

        # Pula se o jogo nÃ£o existir na planilha
        if mandante not in df_pontuacoes_times.index or visitante not in df_pontuacoes_times.index:
            continue
        if coluna_rodada not in df_pontuacoes_times.columns:
            continue

        pontos_mandante = df_pontuacoes_times.at[mandante, coluna_rodada]
        pontos_visitante = df_pontuacoes_times.at[visitante, coluna_rodada]

        # Se nÃ£o tiver pontuaÃ§Ã£o ainda, define como 0
        if pd.isnull(pontos_mandante):
            pontos_mandante = 0
        if pd.isnull(pontos_visitante):
            pontos_visitante = 0

        # Inicializa estrutura
        if jogo not in estatisticas:
            estatisticas[jogo] = {}
        for time in [mandante, visitante]:
            if time not in estatisticas[jogo]:
                estatisticas[jogo][time] = {
                    "Pontos": 0, "VitÃ³rias": 0, "Empates": 0, "Derrotas": 0,
                    "Total_Cartola": 0, "Cartola_Sofrido": 0
                }

        # Atualiza totais
        estatisticas[jogo][mandante]["Total_Cartola"] += pontos_mandante
        estatisticas[jogo][mandante]["Cartola_Sofrido"] += pontos_visitante
        estatisticas[jogo][visitante]["Total_Cartola"] += pontos_visitante
        estatisticas[jogo][visitante]["Cartola_Sofrido"] += pontos_mandante

        # Atualiza pontos somente se jÃ¡ houve pontuaÃ§Ã£o real
        if pontos_mandante == 0 and pontos_visitante == 0:
            continue

        if pontos_mandante > pontos_visitante:
            estatisticas[jogo][mandante]["Pontos"] += 3
            estatisticas[jogo][mandante]["VitÃ³rias"] += 1
            estatisticas[jogo][visitante]["Derrotas"] += 1
        elif pontos_mandante < pontos_visitante:
            estatisticas[jogo][visitante]["Pontos"] += 3
            estatisticas[jogo][visitante]["VitÃ³rias"] += 1
            estatisticas[jogo][mandante]["Derrotas"] += 1
        else:
            estatisticas[jogo][mandante]["Pontos"] += 1
            estatisticas[jogo][visitante]["Pontos"] += 1
            estatisticas[jogo][mandante]["Empates"] += 1
            estatisticas[jogo][visitante]["Empates"] += 1

    # ðŸŸ¡ Caso ainda nÃ£o existam pontuaÃ§Ãµes, monta estrutura zerada
    if not estatisticas:
        print("ðŸ“Š Exibindo classificaÃ§Ã£o inicial com pontuaÃ§Ãµes zeradas.")
        jogos = df_rodadas["Jogo"].unique()
        estatisticas = {
            jogo: {
                row["Mandante_Nome"]: {"Pontos": 0, "VitÃ³rias": 0, "Empates": 0, "Derrotas": 0,
                                       "Total_Cartola": 0, "Cartola_Sofrido": 0},
                row["Visitante_Nome"]: {"Pontos": 0, "VitÃ³rias": 0, "Empates": 0, "Derrotas": 0,
                                        "Total_Cartola": 0, "Cartola_Sofrido": 0}
            }
            for jogo, row in df_rodadas.groupby("Jogo").first().iterrows()
        }

    # ðŸ§¾ Monta DataFrame final
    df_resultado = pd.concat([
        pd.DataFrame({
            "Jogo": jogo,
            "Nome do Time": list(times.keys()),
            "Pontos": [stats["Pontos"] for stats in times.values()],
            "VitÃ³rias": [stats["VitÃ³rias"] for stats in times.values()],
            "Empates": [stats["Empates"] for stats in times.values()],
            "Derrotas": [stats["Derrotas"] for stats in times.values()],
            "Total Cartola": [stats["Total_Cartola"] for stats in times.values()],
            "Cartola Sofrido": [stats["Cartola_Sofrido"] for stats in times.values()],
            "Saldo Cartola": [
                stats["Total_Cartola"] - stats["Cartola_Sofrido"] for stats in times.values()
            ]
        })
        for jogo, times in estatisticas.items()
    ], ignore_index=True)

    # ðŸ Ordena e adiciona posiÃ§Ã£o
    df_resultado = df_resultado.sort_values(
        by=["Jogo", "Pontos", "VitÃ³rias", "Total Cartola", "Saldo Cartola"],
        ascending=[True, False, False, False, False]
    )
    df_resultado["PosiÃ§Ã£o"] = df_resultado.groupby("Jogo").cumcount() + 1

    df_resultado_por_jogo = {
        jogo: df_resultado[df_resultado["Jogo"] == jogo] for jogo in df_resultado["Jogo"].unique()
    }

    return df_resultado, df_resultado_por_jogo

In [16]:
# Padroniza os nomes no df_rodadas
df_rodadas["Mandante_Nome"] = df_rodadas["Mandante_Nome"].str.strip()
df_rodadas["Visitante_Nome"] = df_rodadas["Visitante_Nome"].str.strip()

# Padroniza os Ã­ndices do df_pontuacoes
df_pontuacoes.index = df_pontuacoes.index.str.strip()

# Exibe para conferÃªncia
display(df_pontuacoes)

                               Rodada 32           Rodada 33
Laranjja Mecannica                 97.24              111.22
RHANKA DENTY FC25                 109.14               67.72
cartola scheuer                   114.94               76.62
pura bucha /botafogo               89.54               63.99
Texas Club 2025                   114.94               76.62
teves_futsal20 f.c                116.84               70.92
Fedato Futebol Clube               47.62               68.77
Pity10                            105.94               65.72
Lider_Rodada          teves_futsal20 f.c  Laranjja Mecannica

In [17]:
# Gerar a classificaÃ§Ã£o da fase 3
df_resultado, df_resultado_por_jogo = classificacao_por_grupo(
    df_rodadas, df_pontuacoes
)

# Salvar cada grupo em uma aba do Excel
with pd.ExcelWriter("classificacao_por_grupo_fase_3.xlsx") as writer:
    for jogo, df in df_resultado_por_jogo.items():
        df.to_excel(writer, sheet_name=jogo, index=False)

# Exibir a classificaÃ§Ã£o geral
df_resultado_jogo_1 = df_resultado[df_resultado["Jogo"] == "Jogo 1 (JG1)"]
df_resultado_jogo_2 = df_resultado[df_resultado["Jogo"] == "Jogo 2 (JG2)"]
df_resultado_jogo_3 = df_resultado[df_resultado["Jogo"] == "Jogo 3 (JG3)"]
df_resultado_jogo_4 = df_resultado[df_resultado["Jogo"] == "Jogo 4 (JG4)"]

display(df_resultado_jogo_1, df_resultado_jogo_2, df_resultado_jogo_3, df_resultado_jogo_4)

,Jogo,Nome do Time,Pontos,VitÃ³rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,PosiÃ§Ã£o
0,Jogo 1 (JG1),Laranjja Mecannica,3,1,0,1,208.46,171.66,36.80,1
1,Jogo 1 (JG1),Pity10,3,1,0,1,171.66,208.46,-36.80,2

,Jogo,Nome do Time,Pontos,VitÃ³rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,PosiÃ§Ã£o
2,Jogo 2 (JG2),RHANKA DENTY FC25,3,1,0,1,176.86,116.39,60.47,1
3,Jogo 2 (JG2),Fedato Futebol Clube,3,1,0,1,116.39,176.86,-60.47,2

,Jogo,Nome do Time,Pontos,VitÃ³rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,PosiÃ§Ã£o
4,Jogo 3 (JG3),cartola scheuer,3,1,0,1,191.56,187.76,3.80,1
5,Jogo 3 (JG3),teves_futsal20 f.c,3,1,0,1,187.76,191.56,-3.80,2

,Jogo,Nome do Time,Pontos,VitÃ³rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,PosiÃ§Ã£o
7,Jogo 4 (JG4),Texas Club 2025,6,2,0,0,191.56,153.53,38.03,1
6,Jogo 4 (JG4),pura bucha /botafogo,0,0,0,2,153.53,191.56,-38.03,2

In [18]:
# Verifica se a variÃ¡vel df_resultado_por_grupo existe e estÃ¡ populada
if 'df_resultado_por_jogo' in locals() and df_resultado_por_jogo:
    # Criar estrutura em formato de dicionÃ¡rio para JSON/JS
    classificacao_js_fase_3 = {}

    for jogo, df in df_resultado_por_jogo.items():
        classificacao_js_fase_3[jogo] = []
        for _, row in df.iterrows():
            classificacao_js_fase_3[jogo].append({
                "posicao": int(row["PosiÃ§Ã£o"]),
                "nome": row["Nome do Time"],
                "pontos": int(row["Pontos"]),
                "vitorias": int(row["VitÃ³rias"]),
                "empates": int(row["Empates"]),
                "derrotas": int(row["Derrotas"]),
                "totalCartola": float(row["Total Cartola"]),
                "cartolaSofrido": float(row["Cartola Sofrido"]),
                "saldoCartola": float(row["Saldo Cartola"])
            })

    # Converter para JSON formatado
    json_str = json.dumps(classificacao_js_fase_3, indent=2, ensure_ascii=False)

    # Salvar como arquivo JS com uma variÃ¡vel global
    with open("classificacao_por_grupo_fase_3.js", "w", encoding="utf-8") as f:
        f.write("const classificacaoFase3 = ")
        f.write(json_str)
        f.write(";")

    print("âœ… Arquivo JS salvo com sucesso.")

else:
    print("âš ï¸ ClassificaÃ§Ã£o da fase 3 indisponÃ­vel. O mercado pode estar em manutenÃ§Ã£o ou os dados ainda nÃ£o foram gerados.")

âœ… Arquivo JS salvo com sucesso.

In [19]:
def exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada, jogo=None):
    """
    Exibe os resultados de uma rodada especÃ­fica, com pontuaÃ§Ã£o e dados dos times.
    """

    if rodada not in df_rodadas["Rodada"].values:
        return pd.DataFrame([{
            "Jogo": jogo or "-",
            "Rodada": rodada,
            "Mandante_Nome": "-",          
            "Mandante_Pontos": "-",
            "Visitante_Nome": "-",           
            "Visitante_Pontos": "-",
        }])

    df_filtrado = df_rodadas[df_rodadas["Rodada"] == rodada]
    if jogo:
        df_filtrado = df_filtrado[df_filtrado["Jogo"] == jogo]

    resultados = []

    for _, row in df_filtrado.iterrows():
        jogo_ = row["Jogo"]
        mandante = row["Mandante_Nome"]
        visitante = row["Visitante_Nome"]

        pontos_mandante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(mandante, None)
        pontos_visitante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(visitante, None)

        resultados.append({
            "Jogo": jogo_,
            "Rodada": rodada,
            "Mandante_Nome": mandante,
            "Mandante_Pontos": pontos_mandante,
            "Visitante_Nome": visitante,
            "Visitante_Pontos": pontos_visitante
        })

    return pd.DataFrame(resultados)

In [20]:
# Exibir resultados da 32Âª rodada
df_resultados_rodada_32 = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=32)

# Exibir apenas os resultados do Grupo B na 1Âª rodada
df_resultados_jogo_1 = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=32, jogo="Jogo 1 (JG1)")

# Exibir
display(df_resultados_rodada_32)

,Jogo,Rodada,Mandante_Nome,Mandante_Pontos,Visitante_Nome,Visitante_Pontos
0,Jogo 1 (JG1),32,Laranjja Mecannica,97.24,Pity10,105.94
1,Jogo 2 (JG2),32,RHANKA DENTY FC25,109.14,Fedato Futebol Clube,47.62
2,Jogo 3 (JG3),32,cartola scheuer,114.94,teves_futsal20 f.c,116.84
3,Jogo 4 (JG4),32,pura bucha /botafogo,89.54,Texas Club 2025,114.94

In [21]:
# Criar arquivo com uma aba para cada rodada contendo os resultados detalhados
from pathlib import Path

# Caminho do arquivo de saÃ­da
caminho_resultados = "resultados_fase_3.xlsx"

# Descobrir as rodadas Ãºnicas no DataFrame
rodadas_disponiveis = sorted(df_rodadas["Rodada"].unique())

with pd.ExcelWriter(caminho_resultados) as writer:
    for rodada in rodadas_disponiveis:
        df_resultados = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=rodada)
        nome_aba = f"Rodada {rodada}"
        df_resultados.to_excel(writer, sheet_name=nome_aba, index=False)

print(f"Arquivo salvo com sucesso: {Path(caminho_resultados).resolve()}")

display(df_resultados)

Arquivo salvo com sucesso: C:\Users\ferna\Projetos\GitHub\cartola_fbc_2_turno\libertadores\datasets_liberta\resultados_fase_3.xlsx

,Jogo,Rodada,Mandante_Nome,Mandante_Pontos,Visitante_Nome,Visitante_Pontos
0,Jogo 1 (JG1),33,Pity10,65.72,Laranjja Mecannica,111.22
1,Jogo 2 (JG2),33,Fedato Futebol Clube,68.77,RHANKA DENTY FC25,67.72
2,Jogo 3 (JG3),33,teves_futsal20 f.c,70.92,cartola scheuer,76.62
3,Jogo 4 (JG4),33,Texas Club 2025,76.62,pura bucha /botafogo,63.99

In [22]:
resultados_js = []

for rodada in sorted(df_rodadas["Rodada"].unique()):
    df_resultados = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=rodada)
    
    for _, row in df_resultados.iterrows():
        resultado = {
            "grupo": row["Grupo"],
            "rodada": int(rodada),
            "mandante": {
                "nome": row["Mandante_Nome"],
                "pontos": float(row["Mandante_Pontos"]) if row["Mandante_Pontos"] is not None else None
            },
            "visitante": {
                "nome": row["Visitante_Nome"],
                "pontos": float(row["Visitante_Pontos"]) if row["Visitante_Pontos"] is not None else None
            },
            "vencedor": (
                "mandante" if row["Mandante_Pontos"] is not None and row["Visitante_Pontos"] is not None and row["Mandante_Pontos"] > row["Visitante_Pontos"]
                else "visitante" if row["Mandante_Pontos"] is not None and row["Visitante_Pontos"] is not None and row["Mandante_Pontos"] < row["Visitante_Pontos"]
                else "empate" if row["Mandante_Pontos"] == row["Visitante_Pontos"] and row["Mandante_Pontos"] is not None
                else "indefinido"
            )

        }
        resultados_js.append(resultado)

# Exportar para arquivo .js
import json

with open("resultados_fase_3.js", "w", encoding="utf-8") as f:
    f.write("const resultadosFase3 = ")
    f.write(json.dumps(resultados_js, indent=2, ensure_ascii=False))
    f.write(";
")

# Exporta meta de parcial (usada no front)
try:
    rodada_ref = int(rod_ref)
except Exception:
    rodada_ref = 0

parcial_payload = {"rodada": rodada_ref, "times": {}}
try:
    col_parcial = f"Rodada {rodada_ref}"
    if col_parcial in df_pontuacoes.columns:
        times_map = {}
        for nome in df_pontuacoes.index:
            if nome not in ids_times:
                continue
            try:
                val = df_pontuacoes.at[nome, col_parcial]
            except Exception:
                continue
            if str(val) in ("", "nan"):
                continue
            try:
                times_map[str(ids_times[nome])] = float(val)
            except Exception:
                continue
        parcial_payload["times"] = times_map
except Exception:
    pass

try:
    status_http_val = int(status_http)
except Exception:
    status_http_val = None

liberta_meta = {
    "rodada_atual": rodada_ref,
    "parcial_disponivel": (status_http_val == 2)
}

with open("resultados_fase_3.js", "a", encoding="utf-8") as f:
    f.write("
const pontuacaoParcialRodadaAtual = ")
    f.write(json.dumps(parcial_payload, indent=2, ensure_ascii=False))
    f.write(";
")
    f.write("window.libertaMeta = ")
    f.write(json.dumps(liberta_meta, indent=2, ensure_ascii=False))
    f.write(";
")

### Identificando Vencedores das Quartas de Final

In [23]:
def obter_classificados_com_id(resultados, ids_por_nome):
    classificados = []
    jogos_agrupados = {}
    for jogo in resultados:
        chave = jogo['jogo']
        if chave not in jogos_agrupados:
            jogos_agrupados[chave] = []
        jogos_agrupados[chave].append(jogo)

    for chave, partidas in jogos_agrupados.items():
        if len(partidas) < 2:
            continue

        partidas = sorted(partidas, key=lambda x: x['rodada'])
        ida, volta = partidas

        if ida['mandante']['pontos'] is None or volta['mandante']['pontos'] is None:
            continue

        time1 = ida['mandante']['nome']
        time2 = ida['visitante']['nome']

        pontos_time1 = ida['mandante']['pontos'] + volta['visitante']['pontos']
        pontos_time2 = ida['visitante']['pontos'] + volta['mandante']['pontos']

        if pontos_time1 > pontos_time2:
            vencedor = time1
        elif pontos_time2 > pontos_time1:
            vencedor = time2
        else:
            vencedor = "EMPATE"

        classificados.append({
            "jogo": chave,
            "classificado_nome": vencedor,
            "classificado_id": ids_por_nome.get(vencedor) if vencedor in ids_por_nome else None
        })

    return classificados

In [24]:
# Inverter os nomes
ids_por_nome = {v: k for k, v in nomes_por_id.items()}

# Ler o resultados_fase_3.js (como jÃ¡ fizemos antes)
with open("resultados_fase_3.js", "r", encoding="utf-8") as f:
    conteudo = f.read()

conteudo_json = conteudo.replace("const resultadosFase3 = ", "").strip().rstrip(";")
resultados = json.loads(conteudo_json)

# Obter os classificados
classificados = obter_classificados_com_id(resultados, ids_por_nome)

# Salvar
df_classificados = pd.DataFrame(classificados)
df_classificados.to_excel("classificados_fase_3.xlsx", index=False)

with open("classificados_fase_3.js", "w", encoding="utf-8") as f:
    f.write("const classificadosFase3 = ")
    json.dump(classificados, f, ensure_ascii=False, indent=2)
    f.write(";")
print("âœ… Classificados salvos com sucesso em 'classificados_fase_3.xlsx' e 'classificados_fase_3.js'.")

# Exibir para validar
print("Classificados encontrados:", classificados)

âœ… Classificados salvos com sucesso em 'classificados_fase_3.xlsx' e 'classificados_fase_3.js'.
Classificados encontrados: [{'jogo': 'Jogo 1 (JG1)', 'classificado_nome': 'Laranjja Mecannica', 'classificado_id': 18344271}, {'jogo': 'Jogo 2 (JG2)', 'classificado_nome': 'RHANKA DENTY FC25', 'classificado_id': 29411306}, {'jogo': 'Jogo 3 (JG3)', 'classificado_nome': 'cartola scheuer', 'classificado_id': 3851966}, {'jogo': 'Jogo 4 (JG4)', 'classificado_nome': 'Texas Club 2025', 'classificado_id': 1273719}]